[2019-05-20 07:02] tnorimat opened #1 "OAuth2 Client Authentication in [MTLS] : support Server Metadata and Client Registration"
keycloak(6.0.0) has already implemented OAuth2 Client Authentication in the way defined in Section 2 of [MTLS]. However, it has not yet supported its Server Metadata advertisement and Client Registration.

[2019-05-20 07:20] tnorimat commented on #1
JIRAのチケット：

* [KEYCLOAK-7635 Authenticate clients with x509 certificate](https://issues.jboss.org/browse/KEYCLOAK-7635)

* [KEYCLOAK-7512 OAuth 2.0 Mutual TLS Client Authentication](https://issues.jboss.org/browse/KEYCLOAK-7512)

クラス：

* 実装
  * `X509ClientAuthenticator`
* テスト
  * `MutualTLSClientTest`

ドキュメント（RH-SSO 7.3）：

* [8.1.2. Confidential Client Credentials - X509 Certificate](  https://acc

[2019-05-20 07:46] tnorimat opened #2 "OAuth2 Client Authentication in private_key_jwt : support ES256 or PS256"
FAPI-RW-ID2(Implementer's Draft ver 2) [5.2.2.  Authorization server](https://openid.net/specs/openid-financial-api-part-2-ID2.html#authorization-server) 14 states that an authorization server shall support at least either [MTLS]
[Section 2](https://tools.ietf.org/html/draft-ietf-oauth-mtls-14#section-2) or OIDC [9.  Client Authentication](https://openid.net/specs/openid-connect-core-1_0.html#Clie

[2019-05-23 15:36] wadahiro opened #5 "FAPI-RW-8.5-2: DisallowTLS10, DisallowTLS11, DisallowInsecureCipher"
The server accepted a TLS 1.0 and 1.1 connection. This is not permitted by the specification. Also, the server accepted a disallowed cipher: `TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256`.

https://openid.net/specs/openid-financial-api-part-2-ID2.html#tls-considerations

[2019-05-23 16:10] wadahiro opened #6 "Keycloak (WildFly) returns TLS error when accessing from Chrome or curl"
Currently, we setup MTLS in WildFly layer. But I encountered TLS error when I used Chrome or curl command. When I used IE or Edge, they were OK. Also, when I used curl command from the keycloak server, it was OK.

It might be same issue with [WFLY-11007 Using OpenShift generated certificates and client auth cause TLS errors](https://issues.jboss.org/browse/WFLY-11007). It seem that WildFly returns

[2019-05-27 00:06] tnorimat commented on #5
It seems that these tests are for the resource server, not the authorization server (keycloak). To pass these tests, the application server defined as "resourceUrl" in the config file needs to be configured to accept only TLSv1.2 and cipher suites defined in FAPI-RW-8.5-2 in Handshake, and reject others.

These test should be omitted because the test plan is for the authorization server (keycloak)

[2019-05-28 06:21] tnorimat opened #7 "Resource Server related FAILURE : x-fapi-interaction-id"
CheckForFAPIInteractionIdInResourceResponse and EnsureMatchingFAPIInteractionId checks x-fapi-interaction-id (FAPI-R-6.2.1-11, 12) in HTTP response header from Resource Server.

To pass these tests, the resource server defined as "resourceUrl" in the config file needs to be configured to satisfy x-fapi-interaction-id related requirements (FAPI-R-6.2.1-11, 12).

These test should be omitted because

[2019-05-28 06:35] tnorimat opened #8 "Resource Server related FAILURE : Content-type HTTP header"
EnsureResourceResponseContentTypeIsJsonUTF8 checks Content-type HTTP header from Resource Server.

To pass these tests, the resource server defined as "resourceUrl" in the config file needs to be configured to satisfy Content-type HTTP header related requirements (FAPI-R-6.2.1-9, 10).

These test should be omitted because the test plan is for the authorization server (keycloak), not the resource s

[2019-05-28 07:50] tnorimat opened #9 "Resource Server related FAILURE : OB-6.2.1-2"
CallAccountsEndpointWithBearerTokenExpectingError checks  whether a resource server returns an error when a client 1 send an access token issued to a client 2. It checks a requirement of OpenBanking Security Profile section 6.2.1-2.

To pass these tests, the resource server defined as "resourceUrl" in the config file needs to be configured to satisfy a requirement of OpenBanking Security Profile s

[2019-05-28 08:21] tnorimat opened #10 "Duplicate usage of JWS Client Assertion for client authentication"
In "Attempting reuse of client2's authorisation code & testing if access token is revoked", the test code tries to check whether an authorization server (keycloak) returns error following RFC 6749 section 5 when it receives the same authorization code that has already been used and the corresponding tokens has been issued in return to it.

In test codes,  the client generated the JWS Client Assert

[2019-05-28 08:50] tnorimat opened #11 "Advertise "acr" claim in "claims_supported" Server Metadata"
FAPIRWCheckDiscEndpointClaimsSupported checks whether "claims_supported" in Server Metadata includes "acr" or not.

keycloak has already support "acr" claim in ID token. Therefore, keycloak should advertise "acr" in "claims_supported" in Server Metadata.

[2019-05-28 08:54] tnorimat commented on #2
CheckDiscEndpointTokenEndpointAuthSigningAlgValuesSupported checks whether "PS256" or "ES256" is included in "token_endpoint_auth_signing_alg_values_supported" claim Server Metadata.

When supporting ES256 or PS256 for private_key_jwt, it is also needed that "PS256" or "ES256" is included in "token_endpoint_auth_signing_alg_values_supported" claim Server Metadata.

[2019-05-29 06:46] tnorimat opened #12 "Error Response on receiving some client's JWS Client Assertion signed by other client's private key"
test module : `FAPIRWID2EnsureClientIdInTokenEndpointWithPrivateKeyAndMTLSHolderOfKey`

When the authz server(keycloak) receives some client's(say client2) JWS Client Assertion signed by other client's(say client1) private key, it returns 400 Bad Request / error="unauthorized_client".

`CheckTokenEndpointHttpStatus401` and `CheckErrorFromTokenEndpointResponseErrorInvalidClient` expects 401 Unautho

[2019-05-30 04:46] tnorimat opened #13 "keycloak does not check whether Request Object include "exp" claim and return appropriate error"
According to FAPI-RW-5.2.2-13(https://openid.net/specs/openid-financial-api-part-2-ID2.html#authorization-server) and OIDCC-3.1.2.6(https://openid.net/specs/openid-connect-core-1_0.html#AuthError), keycloak should

* check whether Request Object does include "exp" claim
* if not, return the error (error=invalid_request_object) from authorization endpoint such that
   HTTP/1.1 302 Found
   Location

[2019-05-30 04:46] tnorimat commented on #13
It seems that this requirement has been added in ID2 (Implementer's Draft ver 2).

[2019-05-30 07:14] tnorimat opened #14 "keycloak does not check whether Request Object include "scope" claim and return appropriate error"
According to FAPI-RW-5.2.3-8(https://openid.net/specs/openid-financial-api-part-2-ID2.html#public-client), FAPI-R-5.2.3-7(https://openid.net/specs/openid-financial-api-part-1-ID2.html#public-client) and OIDCC-3.3.2.6 (https://openid.net/specs/openid-connect-core-1_0.html#HybridAuthError) because FAPI RW uses hybrid flow :

* check whether Request Object does include "scope" claim
* check whether t

[2019-05-30 07:18] tnorimat commented on #14
All of query parameters in an authorization code request should be included in signed Request Object in order to protect those query parameters (substitution, tampering, insertion by malicious one).

"scope" query parameter should be added in an authorization code request.

[2019-05-31 00:35] tnorimat opened #15 "keycloak does not check whether Request Object include "nonce" claim and return appropriate error"
According to FAPI-RW-5.2.3-8(https://openid.net/specs/openid-financial-api-part-2-ID2.html#public-client), FAPI-R-5.2.3-8(https://openid.net/specs/openid-financial-api-part-1-ID2.html#public-client) and OIDCC-3.3.2.6 (https://openid.net/specs/openid-connect-core-1_0.html#HybridAuthError) because FAPI RW uses hybrid flow :

* check whether Request Object does include "nonce" claim
* check whether t

[2019-05-31 00:35] tnorimat commented on #15
FAPI-RW-5.2.3-8 states that all of query parameters in an authorization code request should be included in signed Request Object in order to protect those query parameters (substitution, tampering, insertion by malicious one).

FAPI-R-5.2.3-8 states that "nonce" query parameter should be added in an authorization code request.

Both are requirements for Client, but they imply that Authorization Se

[2019-06-05 02:55] tnorimat opened #16 "keycloak does not check whether Request Object include "redirect_uri" claim and return appropriate error"
According to FAPI-RW-5.2.3-8(https://openid.net/specs/openid-financial-api-part-2-ID2.html#public-client), FAPI-R-5.2.3-8(https://openid.net/specs/openid-financial-api-part-1-ID2.html#public-client) and OIDCC-3.3.2.6 (https://openid.net/specs/openid-connect-core-1_0.html#HybridAuthError) because FAPI RW uses hybrid flow :

* check whether Request Object does include "redirect_uri" claim
* check wh

[2019-06-05 02:56] tnorimat commented on #16
FAPI-RW-5.2.3-8 states that all of query parameters in an authorization code request should be included in signed Request Object in order to protect those query parameters (substitution, tampering, insertion by malicious one).

FAPI-R-5.2.3-8 states that "redirect_uri" query parameter should be added in an authorization code request.

Both are requirements for Client, but they imply that Authoriza

[2019-06-17 08:14] tnorimat opened #17 "keycloak does not check whether Request Object expired based on "exp" claim and return appropriate error"
According to FAPI-RW-5.2.2-13(https://openid.net/specs/openid-financial-api-part-2-ID2.html#authorization-server), Request Object shall contain "exp" claim, and it implies that the authz server should rejects the client request with Request Object which has already been expired by judging "exp" claim value. Test case expects "invalid_request_object" error.

[2019-06-19 01:55] tnorimat opened #18 "keycloak's app server does not reject TLS1.0, 1.1, insecure cipher suites defined in FAPI-RW-8.5-2"
To pass these tests, the keycloak's application server (wildfly) accept only TLSv1.2 and cipher suites defined in FAPI-RW-8.5-2 in Handshake, and reject others.

The following might be helpful :

* https://www.keycloak.org/docs/latest/server_admin/index.html#_enable-mtls-wildfly

* https://docs.jboss.org/author/display/WFLY10/Undertow+subsystem+configuration
 HTTPS Listener - enabled-cipher-suites

[2019-06-19 02:51] tnorimat opened #19 "keycloak's app server does not reject connection without client certificate"
To pass these tests, the keycloak's application server (wildfly) rejects HTTPS connection without client certificate.

The following might be helpful :

* https://www.keycloak.org/docs/latest/server_admin/index.html#_enable-mtls-wildfly

* https://docs.jboss.org/author/display/WFLY10/Undertow+subsystem+configuration
 HTTPS Listener - verify-client

[2019-06-24 01:11] tnorimat opened #20 "Resource Server needs to check whether the received Access Token from Client is still valid or not"
`CallAccountsEndpointWithBearerTokenExpectingError` checks whether Resource Server returns error when it receives Access Token that became invalid due to some reason (double usage of Authz Code).

Resource Server needs to have capability of checking whether received Access Token is valid or not.

To do so, Resource Server asks keycloak for it by Token Introspection, and returns error to the Client

[2019-06-24 01:12] tnorimat opened #21 "keycloak does not refuse response_type parameter other than response_type=code id_token or code id_token token"
FAPI-RW-5-2.2 implies that an authorization server shall refuse response_type parameter other than response_type=code id_token or code id_token token.

keycloak should return error=unsupported_response_type to Client via user's Browser's redirection.

Such the refusion might been adopted per Client.

[2019-06-24 01:13] tnorimat opened #22 "Error Response on receiving some token request with other's client certificate in TLS handshake"
test module : `FAPIRWID2EnsureClientIdInTokenEndpointWithMTLS`

When the authz server(keycloak) receives a token request by some client(say client2) including a authorization code issued to other client(say client1) with this client(client1)'s client certificate in TLS handshake, it returns 400 Bad Request / error="unauthorized_client".

CheckTokenEndpointHttpStatus401 and CheckErrorFromTokenEndpo

[2019-06-24 01:14] tnorimat opened #23 "keycloak does not check whether Request Object's "aud" indicates keycloak and return appropriate error if not"
OpenID Connect section 6.1 (https://openid.net/specs/openid-connect-core-1_0.html#RequestObject) tells that

Test case expects "invalid_request_object" error.

[2019-06-24 01:14] tnorimat opened #24 "How to cancel authentication by a user during authentication and authorization flow"
Test modules `FAPIRWID2UserRejectsAuthenticationWithMTLS` and `FAPIRWID2UserRejectsAuthenticationWithPrivateKeyAndMTLSHolderOfKey` requires cancellation of authentication by the user.

[2019-07-01 01:41] wadahiro commented on #20
It seems that `CallAccountsEndpointWithBearerTokenExpectingError` is for a test OB-6.2.1-2:

https://gitlab.com/openid/conformance-suite/blob/23e6d330a5fe277fa76f84a148d84889b73ff407/src/main/java/io/fintechlabs/testframework/openbanking/AbstractOBServerTestModule.java#L345

Also, it has already been issued in #9.

[2019-07-01 03:03] #20 closed

[2019-09-03 02:45] tnorimat opened #25 "keycloak does not check whether Request Object include "state" claim and return appropriate error"
According to FAPI-RW-5.2.3-8(https://openid.net/specs/openid-financial-api-part-2-ID2.html#public-client), FAPI-R-5.2.3-9(https://openid.net/specs/openid-financial-api-part-1-ID2.html#public-client) and OIDCC-3.3.2.6 (https://openid.net/specs/openid-connect-core-1_0.html#HybridAuthError) because FAPI RW uses hybrid flow :

* check whether Request Object does include "state" claim
* check whether t

[2019-09-03 02:46] tnorimat commented on #25
FAPI-RW-5.2.3-8 states that all of query parameters in an authorization code request should be included in signed Request Object in order to protect those query parameters (substitution, tampering, insertion by malicious one).

FAPI-R-5.2.3-9 states that "state" query parameter should be added in an authorization code request.

Both are requirements for Client, but they imply that Authorization Se

[2019-09-03 04:41] tnorimat opened #26 "Support to check whether "nonce" as a query parameter matches "nonce" claim in a request object and return appropriate error"
According to FAPI-RW-5.2.3-8(https://openid.net/specs/openid-financial-api-part-2-ID2.html#public-client), FAPI-R-5.2.3-8(https://openid.net/specs/openid-financial-api-part-1-ID2.html#public-client), nonce is included in both query parameters and a request object and have the same value. keycloak need to check it and return an appropriate error.

[2019-09-03 22:52] tnorimat commented on #2
keycloak-jira : https://issues.jboss.org/browse/KEYCLOAK-11251

[2019-09-03 22:55] tnorimat commented on #1
related keycloak's jira ticket created : https://issues.jboss.org/browse/KEYCLOAK-11252

[2019-09-03 22:56] tnorimat commented on #11
related keycloak-jira ticket created : https://issues.jboss.org/browse/KEYCLOAK-11253

[2019-09-03 22:56] tnorimat commented on #21
related keycloak-jira ticket created : https://issues.jboss.org/browse/KEYCLOAK-11254

[2019-09-03 22:58] tnorimat commented on #13
related keycloak-jira ticket created : https://issues.jboss.org/browse/KEYCLOAK-11255

[2019-09-03 22:58] tnorimat commented on #14
related keycloak-jira ticket created : https://issues.jboss.org/browse/KEYCLOAK-11256

[2019-09-03 22:59] tnorimat commented on #25
related keycloak-jira ticket created : https://issues.jboss.org/browse/KEYCLOAK-11257

[2019-09-03 23:00] tnorimat commented on #15
related keycloak-jira ticket created : https://issues.jboss.org/browse/KEYCLOAK-11258

[2019-09-03 23:00] tnorimat commented on #16
related keycloak-jira ticket created : https://issues.jboss.org/browse/KEYCLOAK-11259

[2019-09-03 23:01] tnorimat commented on #17
related keycloak-jira ticket created : https://issues.jboss.org/browse/KEYCLOAK-11260

[2019-09-03 23:01] tnorimat commented on #23
related keycloak-jira ticket created : https://issues.jboss.org/browse/KEYCLOAK-11261

[2019-09-03 23:02] tnorimat commented on #26
related keycloak-jira ticket created : https://issues.jboss.org/browse/KEYCLOAK-11262

[2019-09-03 23:02] tnorimat commented on #22
related keycloak-jira ticket created : https://issues.jboss.org/browse/KEYCLOAK-11263

[2019-09-25 01:59] tnorimat opened #27 "Resource Server related FAILURE : received access token verification"
Some test module like `fapi-rw-id2-ensure-request-object-with-multiple-aud-succeeds-with-mtls` and `fapi-rw-id2-ensure-request-object-with-multiple-aud-succeeds-with-private-key-and-mtls-holder-of-key` checks whether a resource server returns error when it receives invalid access token.
 To pass these tests, the resource server verify whether received access token is valid or not by token introspe

[2019-09-25 05:26] tnorimat commented on #2
Also, it needs to specify which signature algorithms are accepted because we need to consider that FAPI-RW-ID2 [8.6.  JWS algorithm considerations](https://openid.net/specs/openid-financial-api-part-2-ID2.html#jws-algorithm-considerations) 1 states that at least ES256 or PS256 shall be supported in private_key_jwt so that we need the configuration of only ES256 or PS256 is accepted.

[2019-10-01 01:35] tnorimat commented on #22
From release-v3.2.6, it seems to be OK that test suite can accept the following error patterns :

400 error=invalid_request
400 error=invalid_client
401 error=invalid_client

conformance-suite - issue :
https://gitlab.com/openid/conformance-suite/issues/606

conformance-suite - merge request :
https://gitlab.com/openid/conformance-suite/commit/c2ddca54c0a83c5419003fba6e30bbb8f365545c

src/main/jav

[2020-05-21 11:14] tnorimat commented on #11
Resolved on 8.0.0

[2020-05-21 11:14] #11 closed

[2020-05-21 11:14] tnorimat commented on #1
Resolved on 8.0.0

[2020-05-21 11:14] #1 closed

[2020-05-21 11:15] tnorimat commented on #2
Resolved on 8.0.0

[2020-05-21 11:15] #2 closed

[2020-05-26 13:38] wadahiro commented on #7
Fixed in https://github.com/jsoss-sig/keycloak-fapi/commit/c92a6265eff4edf575b6d080b7240e42f46341b4#diff-d8030dde0c7f87e12e501ba4fb152a3c temporarily.
To pass the test, it uses customized keycloak-gatekeeper to support `x-fapi-interaction-id` header which was added in the following commit:

https://github.com/openstandia/keycloak-gatekeeper/commit/af4198d674dc540771eb041390f19c644c0deae7

[2020-05-26 23:08] tnorimat commented on #7
@wadahiro Thank you. This issue will  be closed.

[2020-05-26 23:08] #7 closed

[2020-05-27 01:14] wadahiro commented on #9
Implemented the introspection and MTLS verification on the resource server temporarily by keycloak-gatekeeper customization in the following commit:

- Add token introspection: https://github.com/openstandia/keycloak-gatekeeper/commit/7f65d355f709b421f3cb2596c310aa3fcd359da5
- Add MTLS verification with token introspection: https://github.com/openstandia/keycloak-gatekeeper/commit/878b020f41057cf3

[2020-05-27 01:37] wadahiro commented on #8
Fixed in https://github.com/jsoss-sig/keycloak-fapi/commit/30502323ec018e41bf865a1128160f1acc5536b1.

[2020-05-27 01:39] tnorimat commented on #8
@wadahiro Thank you. I've confirmed the fixed codes. I'll close this issue.

[2020-05-27 01:39] #8 closed

[2020-05-27 01:41] wadahiro commented on #5
Fixed in https://github.com/jsoss-sig/keycloak-fapi/commit/4e8acac4928c531638f3998723778605a0142d73.

I confirmed FAPI-RW-8.5-2 was passed:

![image](https://user-images.githubusercontent.com/28739/82966672-5ab0b700-a006-11ea-8bd2-932a08928779.png)

[2020-05-27 01:43] tnorimat commented on #5
@wadahiro Thank you. I'll close this issue.

[2020-05-27 01:43] #5 closed

[2020-05-27 01:49] wadahiro commented on #9
Sorry, the second case is described in #27. So this issue for OB-6.2.1-2 was fixed. Closing this ticket is ok.

[2020-05-27 01:50] wadahiro commented on #27
On [fix-resource-server](https://github.com/jsoss-sig/keycloak-fapi/commits/fix-resource-server) branch, I implemented the introspection and MTLS verification on the resource server temporarily by keycloak-gatekeeper customization in the following commit:

- Add token introspection: https://github.com/openstandia/keycloak-gatekeeper/commit/7f65d355f709b421f3cb2596c310aa3fcd359da5
- Add MTLS verifi

[2020-05-27 01:50] tnorimat commented on #9
@wadahiro I see, could you write the same comments on https://github.com/jsoss-sig/keycloak-fapi/issues/27 ?

[2020-05-27 01:51] wadahiro commented on #9
@tnorimat yes, I wrote.

[2020-05-27 01:51] tnorimat commented on #9
@wadahiro Thank you. I'll close this issue.

[2020-05-27 01:51] #9 closed

[2020-05-27 02:00] wadahiro commented on #27
I looked keycloak code: https://github.com/keycloak/keycloak/blob/6.0.1/services/src/main/java/org/keycloak/protocol/oidc/endpoints/TokenEndpoint.java#L286-L289

It seems that keycloak invalidates existing clientSession. It is same code on the latest keycloak.
There may be a problem on the token introspection side...?

[2020-05-27 04:48] wadahiro commented on #6
I found a workaround and apply it:
https://github.com/jsoss-sig/keycloak-fapi/commit/b09a2b23842a1165471765ac73fc625503c301b8

The TLS error has gone from Chrome, FireFox and curl command.

[2020-05-27 05:20] wadahiro commented on #6
Also, I confirmed there was no TLS error when updating to keycloak 10.0.1 in the commit:
https://github.com/jsoss-sig/keycloak-fapi/pull/29/commits/1a0380afe1f35263fb97a5dd371e42016d29ae5e

Probably, the TLS error was resolved in the new WildFly version.

[2020-05-27 06:14] tnorimat commented on #6
@wadahiro Thank you. I'll close this issue.

[2020-05-27 06:14] #6 closed

[2020-05-28 04:22] wadahiro commented on #27
After upgrading to the latest conformance suite ([12b18ce5](https://gitlab.com/openid/conformance-suite/-/tree/12b18ce53b3a1ea7a632854143fc385488a1c2ef)), `CallProtectedResourceWithBearerTokenExpectingError` which was renamed from
 `CallAccountsEndpointWithBearerTokenExpectingError ` in [this commit](https://gitlab.com/openid/conformance-suite/-/commit/887b1c6b63b06bbdc60c3c0c5456cd7fd75bf069) pas

[2020-05-28 04:26] wadahiro commented on #27
Also, @tnorimat confirmed the introspection endpoint returns `active=false` expectedly in the keycloak Arquillian Integration Test. There is no problem with keycloak side.

[2020-05-28 04:43] tnorimat commented on #27
@wadahiro Thank you. I'll close this issue.

[2020-05-28 04:43] #27 closed

[2020-05-28 04:43] tnorimat commented on #10
https://github.com/jsoss-sig/keycloak-fapi/issues/27

[2020-05-28 04:43] #10 closed

[2020-05-28 06:07] wadahiro commented on #2
I confirmed `CheckDiscEndpointTokenEndpointAuthSigningAlgValuesSupported` passed expectedly in this pull request: https://github.com/jsoss-sig/keycloak-fapi/pull/29

![image](https://user-images.githubusercontent.com/28739/83104981-c6714d80-a0f4-11ea-885a-76a766ab4d94.png)

[2020-05-28 06:11] tnorimat commented on #2
@wadahiro Thanks!

[2020-05-28 07:36] wadahiro commented on #24
I found a solution. By enabling "Consent Required" in the client configuration, the user can cancel the authentication flow. I tried the test case with keycloak 10.0.1 and the latest conformance suite in this pull request: https://github.com/jsoss-sig/keycloak-fapi/pull/29

The results were all clear!! 🎉

![image](https://user-images.githubusercontent.com/28739/83109681-c1b09780-a0fc-11ea-8a26-e28

[2020-05-28 07:50] tnorimat commented on #24
@wadahiro Great! I'll close this issue.

[2020-05-28 07:50] #24 closed

[2020-05-28 13:12] wadahiro commented on #18
TLS 1.0 and 1.1 are rejected in the pull request: https://github.com/jsoss-sig/keycloak-fapi/pull/29

![image](https://user-images.githubusercontent.com/28739/83145392-add25900-a12f-11ea-86bc-4c87ba37016c.png)

I'll try to setup keycloak (WildFly) to reject insecure cipher suite (`TLS_RSA_WITH_AES_256_GCM_SHA384`).

[2020-05-28 15:50] wadahiro commented on #18
Fixed in https://github.com/jsoss-sig/keycloak-fapi/pull/29. I added a configuration into WildFly in https://github.com/jsoss-sig/keycloak-fapi/pull/29/commits/42205bafa3935c2dcb95d1ee807b33f920cfb783.

![image](https://user-images.githubusercontent.com/28739/83163219-c2215080-a145-11ea-9937-a4a07a8fb54d.png)

@tnorimat Now, we can close this issue.

[2020-05-28 23:32] tnorimat commented on #18
@wadahiro Thank you! I'll close this issue.

[2020-05-28 23:32] #18 closed

[2020-05-29 02:58] wadahiro opened #30 "OIDCC-5.5.1.1: acr value in id_token is not (one of the) requested values"
Test module `ValidateIdTokenACRClaimAgainstRequest` checks acr value in id_token which is requested in the request object below.

[code]

[OIDCC-5.5.1.1](https://openid.net/specs/openid-connect-core-1_0.html#rfc.section.5.5.1.1) says:

But keycloak with default settings doesn't handle the essential acr claim. It returns "0" or "1". "0" is used when the user is authenticated by SSO Cookie. "1" is u

[2020-05-29 03:07] wadahiro commented on #30
This check was introduced in the following merge request after our first testing:
https://gitlab.com/openid/conformance-suite/-/merge_requests/576

[2020-05-29 05:06] wadahiro commented on #30
Related keycloak tickets:

- Basic support for acr: https://issues.redhat.com/browse/KEYCLOAK-3223
- Proper support for 'acr' and 'amr': https://issues.redhat.com/browse/KEYCLOAK-3314
- Multi-factor authentication and its corresponding "acr" value in ID Token: https://issues.redhat.com/browse/KEYCLOAK-6769

[2020-05-29 05:10] wadahiro commented on #30
Fixed in https://github.com/jsoss-sig/keycloak-fapi/pull/29.
I added a protocol mapper for acr value in ID token (https://github.com/jsoss-sig/keycloak-fapi/pull/29/commits/7c9344e28f08e8c13e03078c415a95977318e9ec).

[2020-05-29 06:30] #30 closed

[2020-05-29 08:53] tnorimat commented on #19
The current testsuite's version (4.0.1) does not cause an error due to  this issue so that I'll close this issue.

[2020-05-29 08:53] #19 closed

[2020-06-01 06:21] wadahiro opened #32 "FAPI-RW-5.2.3-3: claims_parameter_supported must be: true"
The test module `CheckDiscEndpointClaimsParameterSupported` expects the discovery endpoint returns `claims_parameter_supported = true`. But keycloak returns `false`.

[FAPI-RW-5.2.3-3](https://openid.net/specs/openid-financial-api-part-2-ID2.html#rfc.section.5.2.3) describes the client shall request user authentication by requesting the `acr` claim as an essential claim. It means OP needs to suppo

[2020-06-04 07:29] tnorimat commented on #32
related keycloak-jira ticket created : https://issues.jboss.org/browse/KEYCLOAK-14380

[2020-06-17 07:50] pritish-nitb commented on #14
@tnorimat
I was able to fix this defect in Keyloak and test it through FAPI-compliance suit. I see in the JIRA ticket and other relevant tickets and docs and found that there is a proposed plan to have Client conformance profiles(https://issues.redhat.com/browse/KEYCLOAK-11612) which as you rightly mentioned is an epic task.

So, shall we not go ahead and try fixing these outstanding FAPI complian

[2020-06-17 19:08] tnorimat commented on #14
@pritish-nitb Hello. As you mentioned, I have the plan to resolve this issue by [KEYCLOAK-14204](https://issues.redhat.com/browse/KEYCLOAK-14204) . To do so, I need to establish the basics of Client Policies mentioned in [KEYCLOAK-14189](https://issues.redhat.com/browse/KEYCLOAK-14189) and [its pull-request](https://github.com/keycloak/keycloak/pull/7104) in under review by keycloak development te

[2020-06-17 23:11] VinodAnandan commented on #14
@tnorimat and @pritish-nitb thank you for your contribution on Keycloak FAPI. I think if we can continue the discussion of this thread further in the keycloak-dev mailing list ( https://groups.google.com/g/keycloak-dev ) ,it may help to get visibility from others who are interested in it. What do you think about it?

[2020-06-18 07:54] tnorimat commented on #14
@VinodAnandan  Yes, I agree with you.

[2020-07-29 08:15] tnorimat commented on #32
https://github.com/keycloak/keycloak/pull/7232

[2020-07-29 08:15] #32 closed

[2020-08-21 00:07] tnorimat opened #33 "Error Response on receiving some token request without the client certificate in TLS handshake"
When the authz server(keycloak) receives a token request by some client without the client certificate in TLS handshake, it returns 400 Bad Request / error="unauthorized_client".

CheckTokenEndpointHttpStatus401 and CheckErrorFromTokenEndpointResponseErrorInvalidClient expects 401 Unauthorized / error="invalid_client" while keycloak returns 400 Bad Request / error="unauthorized_client".

From rele

[2020-08-21 00:10] tnorimat commented on #33
related keycloak-jira ticket created : https://issues.jboss.org/browse/KEYCLOAK-11263

[2020-08-21 02:07] tnorimat opened #34 "client_jwks_server returns all client's public keys"
When the client 1 sends an authz request with the request object signed by using the client 2's private key, conformance test expects that the authz server returns error. However, the keycloak accepts such the authz request.

The reason why is that keycloak-fapi environment's client_jwks_server returns all client's public keys.

Therefore, on request object verification, the keycloak loads not onl

[2020-08-21 06:20] tnorimat commented on #22
jira ticket changed : https://issues.redhat.com/browse/KEYCLOAK-15236

[2020-09-04 02:02] tnorimat commented on #33
resolved by https://issues.redhat.com/browse/KEYCLOAK-15236

[2020-09-04 02:02] #33 closed

[2020-09-04 04:54] tnorimat commented on #12
The corresponding jira ticket is https://issues.redhat.com/browse/KEYCLOAK-15448 .

[2020-09-04 04:55] tnorimat commented on #22
jira ticket resolved.

[2020-09-04 04:55] #22 closed

[2020-09-10 22:42] VinodAnandan commented on #12
Merged

https://github.com/keycloak/keycloak/pull/7391

[2020-09-10 23:00] tnorimat commented on #12
I'll close issue due to corresponding PR being merged.

[2020-09-10 23:00] #12 closed

[2020-09-11 05:47] tnorimat commented on #33
The corresponding PR is https://github.com/keycloak/keycloak/pull/7364

[2020-09-11 05:54] tnorimat commented on #22
The corresponding PR is https://github.com/keycloak/keycloak/pull/7364

[2020-09-11 06:13] tnorimat commented on #11
The corresponding PR is https://github.com/keycloak/keycloak/pull/6354

[2020-09-11 06:23] tnorimat commented on #2
The corresponding PR is https://github.com/keycloak/keycloak/pull/6414

[2020-09-11 06:24] tnorimat commented on #1
The corresponding PR is https://github.com/keycloak/keycloak/pull/6351

[2020-09-12 01:36] tnorimat opened #39 "Confirm all FAPI R/W OP w/ MTLS conformance tests are passed by the released keycloak"
Confirm all FAPI R/W OP w/ MTLS conformance tests are passed by the released keycloak to which all PRs for FAPI-RW are merged.

We can work with this issue after the following events :

- All PRs for FAPI-RW are merged.
- keycloak is released to which all PRs for FAPI-RW are merged.
- Container image for this version of keycloak is released.

Please note that the test environment is clarified and

[2020-09-12 01:37] tnorimat commented on #39
The corresponding jira ticket is https://issues.redhat.com/browse/KEYCLOAK-10332

[2020-09-12 01:49] tnorimat opened #40 "Confirm all FAPI R/W OP w/ Private key conformance tests are passed by the released keycloak"
Confirm all FAPI R/W OP w/ Private Key conformance tests are passed by the released keycloak to which all PRs for FAPI-RW are merged.

We can work with this issue after the following events :

- All PRs for FAPI-RW are merged.
- keycloak is released to which all PRs for FAPI-RW are merged.
- Container image for this version of keycloak is released.

Please note that the test environment is clarifi

[2020-09-12 01:49] tnorimat commented on #40
The corresponding jira ticket is https://issues.redhat.com/browse/KEYCLOAK-10333

[2020-09-12 01:57] tnorimat opened #41 "Clarify issues to pass all FAPI R/W OP w/ MTLS conformance tests"
By re-running the latest FAPI R/W OP w/ MTLS conformance tests against the latest keycloak to clarify issues to pass all FAPI R/W OP w/ MTLS conformance tests.

[2020-09-12 02:02] tnorimat commented on #41
- [KEYCLOAK-15236](https://issues.redhat.com/browse/KEYCLOAK-15236)
- [KEYCLOAK-14195](https://issues.redhat.com/browse/KEYCLOAK-14195)
- [KEYCLOAK-14204](https://issues.redhat.com/browse/KEYCLOAK-14204)
- [KEYCLOAK-14205](https://issues.redhat.com/browse/KEYCLOAK-14205)
- https://github.com/jsoss-sig/keycloak-fapi/issues/34

The detailed results can be found on [FAPI-SIG Activities Update #1 in J

[2020-09-12 02:02] #41 closed

[2020-09-12 02:03] tnorimat opened #42 "Clarify issues to pass all FAPI R/W OP w/ Private Key conformance tests"
By re-running the latest FAPI R/W OP w/ Private Key conformance tests against the latest keycloak to clarify issues to pass all FAPI R/W OP w/ Private Key conformance tests.

[2020-09-12 02:05] tnorimat commented on #42
- [KEYCLOAK-15448](https://issues.redhat.com/browse/KEYCLOAK-15448)
- [KEYCLOAK-14195](https://issues.redhat.com/browse/KEYCLOAK-14195)
- [KEYCLOAK-14204](https://issues.redhat.com/browse/KEYCLOAK-14204)
- [KEYCLOAK-14205](https://issues.redhat.com/browse/KEYCLOAK-14205)
- https://github.com/jsoss-sig/keycloak-fapi/issues/34

The detailed results can be found on [FAPI-SIG Activities Update #3 in J

[2020-09-12 02:05] #42 closed

[2020-09-12 02:13] tnorimat opened #43 "Confirm all FAPI R/W OP w/ MTLS conformance tests are passed by the locally built keycloak"
Confirm all FAPI R/W OP w/ MTLS conformance tests are passed by the locally build keycloak that the following issues are resolved (not yet sent as PRs).

- [KEYCLOAK-15236](https://issues.redhat.com/browse/KEYCLOAK-15236)
- [KEYCLOAK-14195](https://issues.redhat.com/browse/KEYCLOAK-14195)
- [KEYCLOAK-14204](https://issues.redhat.com/browse/KEYCLOAK-14204)
- [KEYCLOAK-14205](https://issues.redhat.c

[2020-09-12 02:14] tnorimat commented on #43
Confirmed that all FAPI R/W OP w/ MTLS conformance tests are passed.

The detailed results can be found on [FAPI-SIG Activities Update #3 in JPN​](https://github.com/jsoss-sig/keycloak-fapi/blob/master/FAPI-SIG/updates/FAPI_Update_No3_JPN.pdf)

[2020-09-12 02:14] #43 closed

[2020-09-12 02:16] tnorimat opened #44 "Confirm all FAPI R/W OP w/ Private Key conformance tests are passed by the locally built keycloak"
Confirm all FAPI R/W OP w/ MTLS conformance tests are passed by the locally build keycloak that the following issues are resolved (not yet sent as PRs).

- [KEYCLOAK-15448](https://issues.redhat.com/browse/KEYCLOAK-15448)
- [KEYCLOAK-14195](https://issues.redhat.com/browse/KEYCLOAK-14195)
- [KEYCLOAK-14204](https://issues.redhat.com/browse/KEYCLOAK-14204)
- [KEYCLOAK-14205](https://issues.redhat.c

[2020-09-12 02:16] tnorimat commented on #44
Confirmed that all FAPI R/W OP w/ Private Key conformance tests are passed.

The detailed results can be found on [FAPI-SIG Activities Update #3 in JPN​](https://github.com/jsoss-sig/keycloak-fapi/blob/master/FAPI-SIG/updates/FAPI_Update_No3_JPN.pdf)

[2020-09-12 02:16] #44 closed

[2020-09-12 02:42] tnorimat opened #45 "Integrating FAPI-RW conformance tests run into keycloak’s CI/CD pipeline"
It is helpful to run FAPI-RW conformance tests automatically on keycloak’s CI/CD pipeline like the existing arquillian integration tests.

It can keep keycloak to comply with FAPI-RW whenever any PR is merged.

It seems too much complicated to treat this task by one issue so that decomposing it into several sub tasks might be preferable.

[2020-09-12 03:00] tnorimat opened #46 "Consider alternative for keycloak-gatekeeper used in FAPI-RW conformance test run environment"
The conformance test run environment uses keycloak-gatekeeper.

According to https://groups.google.com/forum/#!topic/keycloak-dev/Jb5iqo3kHXY , the keycloak-gatekeeper and its successor Louketo becomes EOL. Therefore, an alternative for keycloak-gatekeeper is needed in the long run.

It is helpful if someone propose this alternative and replace the current keycloak-gatekeeper with it.

[2020-09-12 03:11] tnorimat opened #47 "Develop prototype of CIBA supported keycloak"
Develop prototype of CIBA supported keycloak to clarify whether CIBA can be actually supported to keycloak and how difficult it is.

[2020-09-12 03:12] tnorimat commented on #47
This prototype can be found in  https://github.com/jsoss-sig/keycloak/tree/ciba-prototype

[2020-09-12 03:12] #47 closed

[2020-09-12 03:23] tnorimat opened #48 "Write design document of keycloak's CIBA support"
Based on the prototype in https://github.com/jsoss-sig/keycloak-fapi/issues/47 , Write design document of keycloak's CIBA support, submit it to [keycloak-community](https://github.com/keycloak/keycloak-community) repository, and be merged.

[2020-09-12 03:24] tnorimat commented on #48
merged https://github.com/keycloak/keycloak-community/pull/105
merged design document can be found in https://github.com/keycloak/keycloak-community/blob/master/design/client-initiated-backchannel-authentication-flow.md

[2020-09-12 03:24] #48 closed

[2020-09-12 03:42] tnorimat opened #49 "Clarify the gap between prototype and merged design document"
Clarify the gap between [prototype](https://github.com/jsoss-sig/keycloak/tree/ciba-prototype) in https://github.com/jsoss-sig/keycloak-fapi/issues/47 and merged [design document](https://github.com/keycloak/keycloak-community/blob/master/design/client-initiated-backchannel-authentication-flow.md) in https://github.com/jsoss-sig/keycloak-fapi/issues/48. List up their differences.

[2020-09-12 03:51] tnorimat opened #50 "Break down FAPI-CIBA (poll) implementation task into separate sub tasks"
After the completion of https://github.com/jsoss-sig/keycloak-fapi/issues/49, break down FAPI-CIBA (poll) implementation task into separate sub tasks that can be done in parallel.

[2020-09-15 05:58] tnorimat commented on #21
Resolved by https://issues.redhat.com/browse/KEYCLOAK-14205 and https://github.com/keycloak/keycloak/pull/7410

[2020-09-15 05:58] #21 closed

[2020-09-25 10:04] tnorimat commented on #13
closed. https://issues.redhat.com/browse/KEYCLOAK-14204

[2020-09-25 10:04] #13 closed

[2020-09-25 10:05] tnorimat commented on #14
closed. https://issues.redhat.com/browse/KEYCLOAK-14204

[2020-09-25 10:05] #14 closed

[2020-09-25 10:05] tnorimat commented on #15
closed. https://issues.redhat.com/browse/KEYCLOAK-14204

[2020-09-25 10:05] #15 closed

[2020-09-25 10:05] tnorimat commented on #16
closed. https://issues.redhat.com/browse/KEYCLOAK-14204

[2020-09-25 10:05] #16 closed

[2020-09-25 10:06] tnorimat commented on #17
closed. https://issues.redhat.com/browse/KEYCLOAK-14204

[2020-09-25 10:06] #17 closed

[2020-09-25 10:06] tnorimat commented on #23
closed. https://issues.redhat.com/browse/KEYCLOAK-14204

[2020-09-25 10:06] #23 closed

[2020-09-25 10:06] tnorimat commented on #25
closed. https://issues.redhat.com/browse/KEYCLOAK-14204

[2020-09-25 10:06] #25 closed

[2020-09-25 10:06] tnorimat commented on #26
closed. https://issues.redhat.com/browse/KEYCLOAK-14204

[2020-09-25 10:06] #26 closed

[2020-09-29 08:00] tnorimat opened #53 "FAPI-CIBA Backchannel Authentication Request : encrypt/decrypt login_hint"
[The design document for FAPI-CIBA](https://github.com/keycloak/keycloak-community/blob/master/design/client-initiated-backchannel-authentication-flow.md#request-parameters-for-user-info-conveyance) states that it requires login_hint encryption and decryption.
 However, [the current CIBA prototype implementation](https://github.com/tnorimat/keycloak/tree/ciba-prototype) does not support it.

 The

[2020-09-29 08:07] tnorimat opened #54 "FAPI-CIBA Backchannel Authentication Request : support login_hint_token"
[The design document for FAPI-CIBA](https://github.com/keycloak/keycloak-community/blob/master/design/client-initiated-backchannel-authentication-flow.md) states that it requires to support login_hint_token.
 However, [the current CIBA prototype implementation](https://github.com/tnorimat/keycloak/tree/ciba-prototype) does not support it.

 The goal of this issue is to implement on the CIBA protot

[2020-09-29 08:12] tnorimat opened #55 "FAPI-CIBA Backchannel Authentication Request : support id_token_hint"
[The design document for FAPI-CIBA](https://github.com/keycloak/keycloak-community/blob/master/design/client-initiated-backchannel-authentication-flow.md) states that it requires to support id_token_hint.
 However, [the current CIBA prototype implementation](https://github.com/tnorimat/keycloak/tree/ciba-prototype) does not support it.

The goal of this issue is to implement on the CIBA prototype

[2020-09-29 08:17] tnorimat opened #56 "FAPI-CIBA Backchannel Authentication Request : support Signed Authentication Request"
[The design document for FAPI-CIBA](https://github.com/keycloak/keycloak-community/blob/master/design/client-initiated-backchannel-authentication-flow.md#signed-authentication-request) states that it requires to support request (Signed Authentication Request).
 However, [the current CIBA prototype implementation](https://github.com/tnorimat/keycloak/tree/ciba-prototype) does not support it.

The g

[2020-09-29 08:25] tnorimat opened #57 "FAPI-CIBA Backchannel Authentication Request : support User Code"
[The design document for FAPI-CIBA](https://github.com/keycloak/keycloak-community/blob/master/design/client-initiated-backchannel-authentication-flow.md#user-code) states that it requires to support user_code (User Code).
 However, [the current CIBA prototype implementation](https://github.com/tnorimat/keycloak/tree/ciba-prototype) does not support it.

 The goal of this issue is to implement on

[2020-09-29 09:21] tnorimat opened #58 "FAPI-CIBA Realm Settings (CIBA Policy) overriden by Client Settings"
[The design document for FAPI-CIBA](https://github.com/keycloak/keycloak-community/blob/master/design/client-initiated-backchannel-authentication-flow.md#ciba-policy) states that it requires Realm Settings for CIBA called CIBA Policy and it can be overriden by each Client Setting.
 However, [the current CIBA prototype implementation](https://github.com/tnorimat/keycloak/tree/ciba-prototype) does n

[2020-09-29 09:37] tnorimat opened #59 "FAPI-CIBA Implementation Internals : Use Only Auth Result Cache by Infinispan For CIBA Flow Session Binding"
[The design document for FAPI-CIBA](https://github.com/keycloak/keycloak-community/blob/master/design/client-initiated-backchannel-authentication-flow.md#how-to-implement-auth-result-cache) states that it requires Auth Result Cache() by Infinispan for CIBA flow session binding.
 However, [the current CIBA prototype implementation](https://github.com/tnorimat/keycloak/tree/ciba-prototype) uses one

[2020-09-29 09:56] tnorimat opened #60 "FAPI-CIBA Implementation Internals : Use Only Auth Result Cache on Communication with Decoupled Auth Server"
[The design document for FAPI-CIBA](https://github.com/keycloak/keycloak-community/blob/master/design/client-initiated-backchannel-authentication-flow.md#from-authnauthz-by-ad-part-to-token-reqres-part) states that it requires Auth Result ID for CIBA flow session binding between keycloak and Decouple Auth Server.
 However, [the current CIBA prototype implementation](https://github.com/tnorimat/key

[2020-09-29 10:04] tnorimat opened #61 "FAPI-CIBA Implementation Internals : Token Request Throttling Information Not Cluster-wide Sync"
[The design document for FAPI-CIBA](https://github.com/keycloak/keycloak-community/blob/master/design/client-initiated-backchannel-authentication-flow.md#token-request-throttling-1) states that it requires No.3 method for Token Request Throttling, namely keycloak does not share information on Token Request Throttling among other nodes in the cluster.
 However, [the current CIBA prototype implement

[2020-09-29 10:10] tnorimat opened #62 "FAPI-CIBA Implementation Internals : Use Security Event Token (SET) as message format between keycloak and Decoupled Auth Server"
[The design document for FAPI-CIBA](https://github.com/keycloak/keycloak-community/blob/master/design/client-initiated-backchannel-authentication-flow.md#default-implementation-of-authnauthz-by-ad-part-of-outside-ciba-protocol) states that it requires application/x-www-form-urlencoded form data as message format between keycloak and Decoupled Auth Server.

 It might be preferable to use [Security

[2020-09-29 10:16] tnorimat opened #63 "FAPI-CIBA Arquillian Integration Test : Confirm CIBA Implementation Works Well in Clustering Environment"
[The design document for FAPI-CIBA](https://github.com/keycloak/keycloak-community/blob/master/design/client-initiated-backchannel-authentication-flow.md#runtime-environment) states that it requires keycloak to run well in the clustering environment.
 However, [the current CIBA prototype implementation](https://github.com/tnorimat/keycloak/tree/ciba-prototype) does not have the arquillian integrat

[2020-09-29 10:17] tnorimat opened #64 "FAPI-CIBA Arquillian Integration Test : Confirm CIBA Implementation Works Well in Cross-DC Environment"
[The design document for FAPI-CIBA](https://github.com/keycloak/keycloak-community/blob/master/design/client-initiated-backchannel-authentication-flow.md#runtime-environment) states that it requires keycloak to run well in the Cross-DC environment.
 However, [the current CIBA prototype implementation](https://github.com/tnorimat/keycloak/tree/ciba-prototype) does not have the arquillian integratio

[2020-09-29 10:28] tnorimat opened #65 "FAPI-CIBA Conformance Test : Establish the way of running FAPI-CIBA OP poll w/ MTLS and w/ Private Key against CIBA Implementation"
Theoretically, we can run both conformance tests of FAPI-CIBA OP poll w/ MTLS and w/ Private Key against [the current CIBA prototype implementation](https://github.com/tnorimat/keycloak/tree/ciba-prototype). Of course, cannot pass all tests.

The goal of this issue is to establish how to run both conformance tests of FAPI-CIBA OP poll w/ MTLS and w/ Private Key against [the current CIBA prototype

[2020-09-29 10:28] #50 closed

[2020-09-29 10:29] tnorimat commented on #50
https://github.com/jsoss-sig/keycloak-fapi/issues/53 to https://github.com/jsoss-sig/keycloak-fapi/issues/65

[2020-09-29 10:30] tnorimat commented on #49
https://github.com/jsoss-sig/keycloak-fapi/issues/53 to https://github.com/jsoss-sig/keycloak-fapi/issues/65

[2020-09-29 10:30] #49 closed

[2020-10-02 07:25] kannan-ra commented on #65
Banfico will be able to help on this - you can assign to @arunganesh-a

[2020-10-02 07:28] kannan-ra commented on #64
you can assign to @arunganesh-a (banfico)

[2020-10-02 07:28] kannan-ra commented on #63
you can assign to @arunganesh-a (banfico)

[2020-10-02 07:37] kannan-ra commented on #56
@tnorimat you can assign this to @pritish-nitb (banfico)

[2020-10-02 08:02] tnorimat commented on #63
@kannan-ra Thank you very much.
@VinodAnandan We would like to assign @arunganesh-a this issue. WDYT?

[2020-10-02 08:02] kannan-ra commented on #46
I would certainly consider these -
* apache
* nginx

I know Hans Zandbelt @zmartzone whose [apache oidc module](https://github.com/zmartzone/mod_auth_openidc
) is OpenID certified &
[supports keycloak integration](https://github.com/zmartzone/mod_auth_openidc/wiki/Keycloak)

[2020-10-02 08:03] tnorimat commented on #64
@kannan-ra Thank you very much.
@VinodAnandan We would like to assign @arunganesh-a this issue. WDYT?

[2020-10-02 08:04] tnorimat commented on #65
@kannan-ra Thank you very much.
@VinodAnandan We would like to assign @arunganesh-a this issue. WDYT?

[2020-10-02 08:05] tnorimat commented on #56
@kannan-ra Thank you very much.
@VinodAnandan We would like to assign @pritish-nitb this issue. WDYT?

[2020-10-02 08:07] kannan-ra commented on #45
@pritish-nitb & @arunganesh-a can help here ... but would be nice if someone can own the task.

[2020-10-02 08:08] VinodAnandan commented on #65
@tnorimat yes, I will assign to @arunganesh-a

[2020-10-02 08:15] tnorimat commented on #65
To assign @arunganesh-a to this issue, @arunganesh-a needs to write some comments on this issue.
@arunganesh-a, could you please write some comments on this issue?

[2020-10-02 08:26] VinodAnandan commented on #46
This may be solved with using Keycloak's userinfo endpoint. Do we know if the Keycloak's userinfo endpoint can support FPAI headers ( e.g: x-fapi-interactionid)? Joseph also suggested deploying a FAPI compliant resource server.

[2020-10-02 09:04] zandbelt commented on #46
As the author of [mod_auth_openidc](https://github.com/zmartzone/mod_auth_openidc) I would like to express my interest to help out on the way forward using Apache as suggested by @kannan-ra . Making mod_auth_openidc FAPI compliant has been on the backlog for a while now and concrete demand would help to push it forward.

[2020-10-02 09:45] VinodAnandan commented on #46
@zandbelt Thank you very much for your interest to help out. We definitely need more community help :) . Is it okay if I assign this task to you ?

[2020-10-02 10:16] zandbelt commented on #46
I will investigate first and let you know about my plans in more detail

[2020-10-05 07:57] arunganesh-a commented on #65
Hi @tnorimat  you can assign it to me..

[2020-10-05 08:43] tnorimat commented on #65
@VinodAnandan Could you assign @arunganesh-a to this issue?

[2020-10-05 08:57] VinodAnandan commented on #65
@tnorimat @arunganesh-a done :)

[2020-10-05 09:41] DmitryMishchuk commented on #53
Could take over this one from our team side.

[2020-10-05 09:42] VinodAnandan commented on #53
Thank you @DmitryMishchuk

[2020-10-05 09:45] HryhoriiHevorkian commented on #57
Please assign this ticket for me.

[2020-10-05 09:50] andriimurashkin commented on #54
Please assign me this ticket.

[2020-10-05 09:53] VinodAnandan commented on #57
Thank you @HryhoriiHevorkian

[2020-10-05 09:53] VinodAnandan commented on #54
Thank you @andriimurashkin

[2020-10-05 13:12] VinodAnandan commented on #64
@arunganesh-a could you please write comments on this issue?

[2020-10-05 13:13] VinodAnandan commented on #63
@arunganesh-a could you please write comments on this issue?

[2020-10-06 11:25] arunganesh-a commented on #64
@VinodAnandan  you can assign it to me

[2020-10-06 11:30] VinodAnandan commented on #64
Thank you @arunganesh-a

[2020-10-06 12:54] pritish-nitb commented on #56
@tnorimat @VinodAnandan Please assign the issue to me.

[2020-10-07 07:35] VinodAnandan commented on #56
Thank you @pritish-nitb

[2020-10-07 07:41] HryhoriiHevorkian commented on #55
Please assign this to me also.

[2020-10-07 07:43] VinodAnandan commented on #55
Thank you @HryhoriiHevorkian

[2020-10-07 08:15] akoserwal commented on #58
@tnorimat: I can work on it

[2020-10-07 08:26] VinodAnandan commented on #58
Thank you @akoserwal akoserwal

[2020-10-07 09:12] andriimurashkin commented on #54
hi @tnorima
Am I right that `login_hint_token` is a regular `access_token`?

[2020-10-07 12:29] arunganesh-a commented on #39
@VinodAnandan  you can assign it to me

[2020-10-07 12:29] arunganesh-a commented on #40
@VinodAnandan  you can assign it to me

[2020-10-07 13:50] HryhoriiHevorkian commented on #57
@tnorimat could you please clarify where to store the userCode parameter? I see that UserModel does not have this field inside.

[2020-10-07 19:32] VinodAnandan commented on #39
Thank you @arunganesh-a

[2020-10-07 19:33] VinodAnandan commented on #40
Thank you @arunganesh-a

[2020-10-07 23:53] tnorimat commented on #54
Hello @andriimurashkin ,
Yes, keycloak's access token can satisfy the requirement specified by [the design document](https://github.com/keycloak/keycloak-community/blob/master/design/client-initiated-backchannel-authentication-flow.md#request-parameters-for-user-info-conveyance).

The CIBA standard document does not mention the details and implementation of `login_hint_token`.  Therefore I've spec

[2020-10-07 23:59] tnorimat commented on #53
Hello @DmitryMishchuk ,

FYI, the User Resolver described in page 50 of the [CIBA Prototype Implementation Practical Guide](https://github.com/keycloak/kc-sig-fapi/blob/master/FAPI-SIG/documents/FAPI-CIBA/CIBA_PrototypeImplPracticalGuide.pdf) might be helpful.

[2020-10-08 00:00] tnorimat commented on #55
Hello @HryhoriiHevorkian ,

FYI, the User Resolver described in page 50 of the [CIBA Prototype Implementation Practical Guide](https://github.com/keycloak/kc-sig-fapi/blob/master/FAPI-SIG/documents/FAPI-CIBA/CIBA_PrototypeImplPracticalGuide.pdf) might be helpful.

[2020-10-08 00:04] tnorimat commented on #56
Hello @pritish-nitb ,

FYI, the keycloak has already supported the request object defined by OIDC. The signed authentication request seems to be the CIBA version of this request object. Therefore the existing codes for the request object might be helpful for you.

[2020-10-08 00:21] tnorimat commented on #57
Hello, @HryhoriiHevorkian ,

User Code is used for preventing any malicious entity from sending unsolicited AuthN & AuthZ request to AD.
The end user only knows their user code (like password).
Only the entity holding this user code is a legitimate entity who receives the request from CD with the end user's permission (eg. the end user input their user code onto CD explicitly).

Considering this n

[2020-10-08 09:07] DmitryMishchuk commented on #53
@tnorimat It states that login_hint should be encrypted/decrypted  using client secret with AES128/192/256bit

But client_secret is an UUID it is 36 bytes long, so it is not good as a key for encryption/decryption.

[2020-10-08 16:02] zandbelt commented on #46
I believe mod_auth_openidc can be configured to be FAPI 1.0 RO compliant as it is today: the value of the header `x-fapi-interaction-id` can be echo-ed in the response using mod_headers. When using version >=2.3.9 and combining it with [mod_tokenbinding](https://github.com/zmartzone/mod_token_binding#application) it should be FAPI 1.0 RW compliant. Let me know if I have overseen something.

I'll l

[2020-10-08 22:52] tnorimat commented on #59
@VinodAnandan I'll work on this issue.

[2020-10-08 22:53] tnorimat commented on #60
@VinodAnandan I'll work on this issue.

[2020-10-08 22:54] tnorimat commented on #61
IMO, it seems to be relatively easy compared with other FAPI-CIBA issues.

[2020-10-08 22:55] tnorimat commented on #62
IMO, this issue's priority is relatively low compared with other FAPI-CIBA issues.

[2020-10-09 04:12] tnorimat commented on #53
Hello @DmitryMishchuk ,
IMO, `client_secret` is generated by `UUID.randomUUID().toString()` in keycloak when creating a client and according to [oracle's javadoc](https://docs.oracle.com/javase/8/docs/api/java/util/UUID.html#randomUUID--), UUIDv4 is generated by `UUID.randomUUID().toString()` using a cryptographically strong pseudo random number generator. According to [RFC 4122](https://tools.iet

[2020-10-09 06:54] tnorimat opened #72 "FAPI-CIBA Arquillian Integration Test : pass tests using wildfly as auth server"
As mentioned in page 8 of [CIBA Prototype Implementation Practical Guide](https://github.com/keycloak/kc-sig-fapi/blob/master/FAPI-SIG/documents/FAPI-CIBA/CIBA_PrototypeImplPracticalGuide.pdf), CIBA's arquillian integration test are passed using undertow as auth server.

The goal of this issue is to pass CIBA's arquillian integration test using wildfly as auth server.
It is needed to pass Keycloak

[2020-10-09 08:59] DmitryMishchuk commented on #53
Yes you're absolutely right. Thank you.

[2020-10-10 08:05] tnorimat opened #73 "FAPI-CIBA Arquillian Integration Test : Import Realm related tests broken"
I've found that the [original prototype implementation](https://github.com/tnorimat/keycloak/commit/c18877933e99afe3836d7f38b988ffa61d0dbed5) broke Import Realm related tests.

InitialFlowsTest
UserTest
ExportImportTest
JsonFileImport198MigrationTest
JsonFileImport255MigrationTest
JsonFileImport343MigrationTest
JsonFileImport483MigrationTest
JsonFileImport903MigrationTest
WebAuthnRegisterAndLoginT

[2020-10-10 10:32] #73 closed

[2020-10-11 03:49] tnorimat commented on #72
https://github.com/tnorimat/keycloak/pull/4

[2020-10-11 03:49] #72 closed

[2020-10-13 03:30] tnorimat commented on #58
@akoserwal I've add the specification of this issues here.

### What to do

Current CIBA prototype implementation has already supported the following parameters CIBA standard document defined.

- Backchannel Token Delivery Mode
- Expires In
- Interval
- Authentication Requested User Hint

These parameters are realized as CIBA Policy that can be set per Realm.

What we want to do is that we can set

[2020-10-14 08:41] tnorimat opened #76 "Client Policy : Pre-set Policies"
This issue is about [KEYCLOAK-14208 Client Policy : Pre-set Policies](https://issues.redhat.com/browse/KEYCLOAK-14208) in [KEYCLOAK-13933 Client Policies](https://issues.redhat.com/browse/KEYCLOAK-13933).

The goal of this project are the followings.
- support pre-set client policy defined in [Client Policy design document](https://github.com/keycloak/keycloak-community/blob/master/design/client-p

[2020-10-14 08:51] tnorimat opened #77 "Client Policy : UI on Admin Console​"
This issue is about [KEYCLOAK-14209 Client Policy : UI on Admin Console](https://issues.redhat.com/browse/KEYCLOAK-14209) in [KEYCLOAK-13933 Client Policies](https://issues.redhat.com/browse/KEYCLOAK-13933).

The goal of this project are the followings.
- Implement UI for Client Policies on Admin Console defined in [Client Policy design document](https://github.com/keycloak/keycloak-community/blob

[2020-10-14 09:04] tnorimat opened #78 "Client Policy : Migrate Client Registration Policies to Client Policies​"
This issue is about [KEYCLOAK-14210 Client Policy : Migrate Client Registration Policies to Client Policies](https://issues.redhat.com/browse/KEYCLOAK-14210) in [KEYCLOAK-13933 Client Policies](https://issues.redhat.com/browse/KEYCLOAK-13933).

The goal of this project are the followings.
- Support Backward Compatibility defined in [Client Policy design document](https://github.com/keycloak/keyclo

[2020-10-14 09:39] tnorimat opened #79 "Client Policy : Extends Policy Interface to Migrate Client Registration Policies"
This issue is about [KEYCLOAK-15533 Client Policy : Extends Policy Interface to Migrate Client Registration Policies](https://issues.redhat.com/browse/KEYCLOAK-15533) in [KEYCLOAK-13933 Client Policies](https://issues.redhat.com/browse/KEYCLOAK-13933).

This issue is the sub issue of https://github.com/keycloak/kc-sig-fapi/issues/78 .

The goal of this project are the followings.
- extends the cur

[2020-10-14 09:44] tnorimat opened #80 "Client Policy : Implement Existing Client Registration Policies as Client Policies"
This issue is about [KEYCLOAK-15534 Client Policy : Implement Existing Client Registration Policies as Client Policies](https://issues.redhat.com/browse/KEYCLOAK-15534) in [KEYCLOAK-13933 Client Policies](https://issues.redhat.com/browse/KEYCLOAK-13933).

This issue is the sub issue of https://github.com/keycloak/kc-sig-fapi/issues/78 .

The goal of this project are the followings.
- implements ex

[2020-10-14 09:55] tnorimat opened #81 "Client Policy - Condition : Author of a client - User Group"
This issue is about [KEYCLOAK-14191 Client Policy - Condition : Author of a client - User Group](https://issues.redhat.com/browse/KEYCLOAK-14191) in [KEYCLOAK-13933 Client Policies](https://issues.redhat.com/browse/KEYCLOAK-13933).

The goal of this project are the followings.
- support policy conditions defined in [Client Policy design document](https://github.com/keycloak/keycloak-community/blob

[2020-10-14 10:05] tnorimat opened #82 "Client Policy - Condition : Author of a client - User Role"
This issue is about [KEYCLOAK-14192 Client Policy - Condition : Author of a client - User Role](https://issues.redhat.com/browse/KEYCLOAK-14192) in [KEYCLOAK-13933 Client Policies](https://issues.redhat.com/browse/KEYCLOAK-13933).

The goal of this project are the followings.
- support policy conditions defined in [Client Policy design document](https://github.com/keycloak/keycloak-community/blob/

[2020-10-14 10:16] tnorimat opened #83 "Client Policy - Condition : Client - Client Access Type"
This issue is about [KEYCLOAK-14193 Client Policy - Condition : Client - Client Access Type](https://issues.redhat.com/browse/KEYCLOAK-14193) in [KEYCLOAK-13933 Client Policies](https://issues.redhat.com/browse/KEYCLOAK-13933).

The goal of this project are the followings.
- support policy conditions defined in [Client Policy design document](https://github.com/keycloak/keycloak-community/blob/mas

[2020-10-14 10:23] tnorimat opened #84 "Client Policy - Condition : Client - Client Domain Name"
This issue is about [KEYCLOAK-14194 Client Policy - Condition : Client - Client Domain Name](https://issues.redhat.com/browse/KEYCLOAK-14194) in [KEYCLOAK-13933 Client Policies](https://issues.redhat.com/browse/KEYCLOAK-13933).

The goal of this project are the followings.
- support policy conditions defined in [Client Policy design document](https://github.com/keycloak/keycloak-community/blob/mas

[2020-10-14 10:32] tnorimat opened #85 "Client Policy - Condition : Client - Client Scope"
This issue is about [KEYCLOAK-14196 Client Policy - Condition : Client - Client Scope](https://issues.redhat.com/browse/KEYCLOAK-14196) in [KEYCLOAK-13933 Client Policies](https://issues.redhat.com/browse/KEYCLOAK-13933).

The goal of this project are the followings.
- support policy conditions defined in [Client Policy design document](https://github.com/keycloak/keycloak-community/blob/master/de

[2020-10-14 10:37] tnorimat opened #86 "Client Policy - Condition : Client - Client Host"
This issue is about [KEYCLOAK-14197 Client Policy - Condition : Client - Client Host](https://issues.redhat.com/browse/KEYCLOAK-14197) in [KEYCLOAK-13933 Client Policies](https://issues.redhat.com/browse/KEYCLOAK-13933).

The goal of this project are the followings.
- support policy conditions defined in [Client Policy design document](https://github.com/keycloak/keycloak-community/blob/master/des

[2020-10-14 10:41] tnorimat opened #87 "Client Policy - Condition : Client - Client IP"
This issue is about [KEYCLOAK-14198 Client Policy - Condition : Client - Client IP](https://issues.redhat.com/browse/KEYCLOAK-14197) in [KEYCLOAK-13933 Client Policies](https://issues.redhat.com/browse/KEYCLOAK-13933).

The goal of this project are the followings.
- support policy conditions defined in [Client Policy design document](https://github.com/keycloak/keycloak-community/blob/master/desig

[2020-10-14 10:57] tnorimat opened #88 "Client Policy - Executor : Enforce more secure client authentication method when client registration"
This issue is about [KEYCLOAK-14199 Client Policy - Executor : Enforce more secure client authentication method when client registration](https://issues.redhat.com/browse/KEYCLOAK-14199) in [KEYCLOAK-13933 Client Policies](https://issues.redhat.com/browse/KEYCLOAK-13933).

The goal of this project are the followings.
- support policy executors defined in [Client Policy design document](https://git

[2020-10-14 10:59] tnorimat opened #89 "Client Policy - Executor : Enforce Holder-of-Key Token"
This issue is about [KEYCLOAK-14200 Client Policy - Executor : Enforce Holder-of-Key Token](https://issues.redhat.com/browse/KEYCLOAK-14200) in [KEYCLOAK-13933 Client Policies](https://issues.redhat.com/browse/KEYCLOAK-13933).

The goal of this project are the followings.
- support policy executors defined in [Client Policy design document](https://github.com/keycloak/keycloak-community/blob/maste

[2020-10-14 11:05] tnorimat opened #90 "Client Policy - Executor : Enforce Proof Key for Code Exchange (PKCE)"
This issue is about [KEYCLOAK-14201 Client Policy - Executor : Enforce Proof Key for Code Exchange (PKCE)](https://issues.redhat.com/browse/KEYCLOAK-14201) in [KEYCLOAK-13933 Client Policies](https://issues.redhat.com/browse/KEYCLOAK-13933).

The goal of this project are the followings.
- support policy executors defined in [Client Policy design document](https://github.com/keycloak/keycloak-commu

[2020-10-14 11:11] tnorimat opened #91 "Client Policy - Executor : Enforce secure signature algorithm for Signed JWT client authentication"
This issue is about [KEYCLOAK-14202 Client Policy - Executor : Enforce secure signature algorithm for Signed JWT client authentication](https://issues.redhat.com/browse/KEYCLOAK-14202) in [KEYCLOAK-13933 Client Policies](https://issues.redhat.com/browse/KEYCLOAK-13933).

The goal of this project are the followings.
- support policy executors defined in [Client Policy design document](https://githu

[2020-10-14 11:17] tnorimat opened #92 "Client Policy - Executor : Enforce HTTPS URIs"
This issue is about [KEYCLOAK-14203 Client Policy - Executor : Enforce HTTPS URIs](https://issues.redhat.com/browse/KEYCLOAK-14203) in [KEYCLOAK-13933 Client Policies](https://issues.redhat.com/browse/KEYCLOAK-13933).

The goal of this project are the followings.
- support policy executors defined in [Client Policy design document](https://github.com/keycloak/keycloak-community/blob/master/design/

[2020-10-14 11:30] tnorimat opened #93 "Client Policy - Executor : Enforce more secure state and nonce treatment for preventing CSRF"
This issue is about [KEYCLOAK-14206 Client Policy -Executor : Enforce more secure state and nonce treatment for preventing CSRF](https://issues.redhat.com/browse/KEYCLOAK-14206) in [KEYCLOAK-13933 Client Policies](https://issues.redhat.com/browse/KEYCLOAK-13933).

The goal of this project are the followings.
- support policy executors defined in [Client Policy design document](https://github.com/k

[2020-10-14 11:32] tnorimat opened #94 "Client Policy - Executor : Enforce more secure client signature algorithm when client registration"
This issue is about [KEYCLOAK-14207 Client Policy -Executor : Enforce more secure client signature algorithm when client registration](https://issues.redhat.com/browse/KEYCLOAK-14207) in [KEYCLOAK-13933 Client Policies](https://issues.redhat.com/browse/KEYCLOAK-13933).

The goal of this project are the followings.
- support policy executors defined in [Client Policy design document](https://github

[2020-10-15 02:36] tnorimat commented on #90
PR sent : https://github.com/keycloak/keycloak/pull/7501

[2020-10-15 02:40] tnorimat commented on #94
duplicated.

[2020-10-15 07:59] akoserwal commented on #58
@tnorimat thank you, for the information. I'll go over them and follow up with you If I face any issues.

[2020-10-15 16:40] VinodAnandan opened #95 "Sync development contribution with Banfico and IntegralTech"
- [x] IntegralTech to provide appropriate access to Banfico developers. //@brothwellIntegral
- [x] Banfico Developers to submit pull requests to integraltech. //@arunganesh-a
- [x] IntegralTech to review the pull request and accept. //@brothwellIntegral
- [x] IntegralTech to synch with upstream changes on their repo. //@brothwellIntegral
- [x] IntegralTech to submit the upstream pull request in a

[2020-10-16 01:49] tnorimat commented on #88
PR sent : https://github.com/keycloak/keycloak/pull/7503

[2020-10-18 05:57] wadahiro commented on #46
@tnorimat @VinodAnandan @kannan-ra I think I can help to implement switching to mod_auth_openidc or nginx (lua-resty-openidc). Could you assign me?

@zandbelt According to the spec, not only echo `x-fapi-interaction-id`, it must return generated UUID value if the request header was not provided. Is it possible to setup mod_headers for that?

[2020-10-18 15:29] arunganesh-a commented on #95
We have got the access for the repository and have sent a pull request with the changes that we have done.

[2020-10-19 00:59] VinodAnandan commented on #46
Thank you @wadahiro. I have assigned it to you. Should we consider a minimal docker image with Apache+required modules?

[2020-10-21 08:17] arunganesh-a commented on #63
@VinodAnandan  please assign it to me

[2020-10-21 08:19] VinodAnandan commented on #63
Thank you @arunganesh-a

[2020-10-21 23:14] tnorimat commented on #57
merged. https://github.com/tnorimat/keycloak/pull/2

[2020-10-21 23:14] #57 closed

[2020-10-22 13:46] andriimurashkin commented on #61
Please assign me this ticket.

[2020-10-22 13:54] VinodAnandan commented on #61
Thank you @andriimurashkin

[2020-10-22 23:07] tnorimat commented on #54
merged. https://github.com/tnorimat/keycloak/pull/1

[2020-10-22 23:07] #54 closed

[2020-10-22 23:08] tnorimat commented on #55
merged. https://github.com/tnorimat/keycloak/pull/1

[2020-10-22 23:08] #55 closed

[2020-10-23 03:48] tnorimat commented on #59
- Investigate RFC 8417 Security Event Token (SET)

Considering Security Event Token's nature (it is used to inform security related facts that have already happened), it seems not to be appropriate to use SET as JWT formatted `auth_req_id`.
Therefore, JWT formatted `auth_req_id` is simply based on JWT claims.

[2020-10-23 06:26] andriimurashkin commented on #61
hi @tnorimat
Could you please give some hint.
Do I need extend CIBAAuthReqIdParser#parseAuthReqId section with `blocker.isNotFoundEarlyAccessBlocker()`?
Is there example "Use some collection with lifespan of its entry on each node"?

[2020-10-23 06:40] tnorimat commented on #61
@andriimurashkin Hello,
I'll prepare the detailed information. Could you please wait for it for a while?

[2020-10-23 06:52] brothwellIntegral commented on #95
We have synced the fork and are going through a code review process in our fork's master branch. Hoping to complete this on Monday.

[2020-10-23 08:09] tnorimat commented on #62
Considering Security Event Token's nature (it is used to inform security related facts that have already happened), it seems not to be appropriate to use SET as the message between keycloak and Decoupled Auth Server.
Therefore, it is simply based on JWT claims.

[2020-10-23 11:19] HryhoriiHevorkian commented on #62
Please assign this task for me.

[2020-10-25 02:17] tnorimat commented on #61
Current Token Request Throttling uses infinispan cache to share token request information among all nodes of the cluster.

In this issue, for Token Request Throttling, we use some store to hold token request information within this node, not sharing among all nodes of the cluster.

IMO, we can do the following steps.

1. Implement `CodeToTokenStoreProvider` for this purpose
   Currently, there is

[2020-10-25 03:22] tnorimat commented on #62
@HryhoriiHevorkian

Please refer to the page 17 of [CIBA prototype implementation practical guide](https://github.com/keycloak/kc-sig-fapi/blob/master/FAPI-SIG/documents/FAPI-CIBA/CIBA_PrototypeImplPracticalGuide.pdf). We need to support JWT formatted requests(REQ-2 and REQ-3 of the sequence).

In this issue, we need to do the followings :

- Support JWT formatted request REQ-2 from keycloak to De

[2020-10-26 02:48] wadahiro commented on #46
@VinodAnandan Yes. Since @zandbelt pushed [fapi branch](https://github.com/zmartzone/mod_auth_openidc/tree/fapi) for the apache module which supports `x-fapi-interaction-id`, I try to create a docker image as a new gateway for our resource server instead of keycloak-gatekeeper image.

[2020-10-26 06:21] tnorimat commented on #59
### Determine auth_req_id representation in JWT

To remove Auth Req Context infinispan cache and Decoupled Req infinispan cache, we need to move the items stored on them to other sources, namely JWT formatted `auth_req_id` and Auth Result infinispan cache.

Considering performance, storing them to Auth Result infinispan cache seems not to be appropriate.

If we stored them to Auth Result infinispa

[2020-10-26 12:59] wadahiro commented on #46
I've tried [fapi branch](https://github.com/zmartzone/mod_auth_openidc/tree/fapi) today, but it seems that using `ProxyPass` directive doesn't return `x-fapi-interaction-id` header (It was ok when returning static html in httpd server).

Also, I tried to implement it using [zmartzone/lua-resty-openidc](https://github.com/zmartzone/lua-resty-openidc) and some lua scripts. it passed a basic test `fa

[2020-10-26 15:58] wadahiro opened #99 "Can't pass the latest FAPI-RW Conformance Test due to insufficient scope"
I noticed that the latest FAPI-RW Conformance Test fails the test `fapi-rw-id2-ensure-other-scope-order-succeeds` introduced by the following ticket and commit:

- https://gitlab.com/openid/conformance-suite/-/issues/767
- https://gitlab.com/openid/conformance-suite/-/commit/9857652fad3e8d99c61dada46d877a17b29309a2

The test requires multiple scopes.

[2020-10-27 02:59] #99 closed

[2020-10-27 10:26] tnorimat commented on #59
### Support JWS for `auth_req_id`
As for the signature algorithm, it seems to be OK to support HS256 only because the current keycloak's Refresh Token only supports HS256.

[2020-10-28 01:43] tnorimat commented on #53
merged. https://github.com/tnorimat/keycloak/pull/5

[2020-10-28 01:43] #53 closed

[2020-10-28 04:45] tnorimat commented on #59
### Support JWE for auth_req_id

#### Key Management Algorithm for Key Encryption Key (KEK)

##### Supported algorithm

Current keycloak does not implement `JWEAlgorithmProvider` for "dir". We need to implement it at first.

##### Which key is used

Realm's AES key can be used for CEK. When creating a realm, AES 128bit key is generated as default.
If multiple AES keys are registered on this realm,

[2020-11-01 02:14] tnorimat commented on #60
### Clarify which parts are affected and how by removing Decoupled Req Cache
#### Clarify which fields of Decoupled Req Cache are used and how

When receiving REQ-3 AuthN & AuthZ Result Notification in [page 46 CIBA Flow : Session Binding of CIBA Prototype Implementation Practical Guide](https://github.com/keycloak/kc-sig-fapi/blob/master/FAPI-SIG/documents/FAPI-CIBA/CIBA_PrototypeImplPracticalGui

[2020-11-01 02:44] tnorimat commented on #60
### Migrate some Decoupled Req Cache fields to Auth Result Cache if necessary

Considering performance, storing them to Auth Result infinispan cache seems not to be appropriate. Its discussion can be found in https://github.com/keycloak/kc-sig-fapi/issues/59#issuecomment-716331631

To wrap up the consideration on CIBA Session Binding and its Context,

1. CD <-> keycloak
REQ-1/RES-1, REQ-4/RES-4 in

[2020-11-01 04:57] tnorimat opened #101 "FAPI-CIBA Bug : existing AccountFormServiceTest and LDAPUserLoginTest fails due to modifying testrealm.json"
According to https://github.com/tnorimat/keycloak/pull/6/checks?check_run_id=1333282485
[code]
It seems that AccountFormServiceTest failed due to modifying testrealm.json by https://github.com/tnorimat/keycloak/pull/5/files?file-filters%5B%5D=.html&file-filters%5B%5D=.js&file-filters%5B%5D=.json&file-filters%5B%5D=.properties#diff-99bcd16cbfd7e418a2f7fe1cb8c76e9e323e63b17ddd1d1f49c9462966c3e28a

[2020-11-01 05:02] tnorimat commented on #101
resolved by https://github.com/tnorimat/keycloak/pull/7

[2020-11-01 05:03] #101 closed

[2020-11-01 05:18] tnorimat commented on #60
The new lists and their progresses are as follows.

- [ ] Determine decoupled_auth_id representation in JWT
  - Determine fields included in JWT formatted auth_req_id by considering the following information type
    - CIBA protocol related information
    - information used for verifying JWT's integrity

- [ ]  Support JWT formatted decoupled_auth_id
  - Implement JWT formatted decoupled_auth_id

[2020-11-01 05:41] tnorimat commented on #60
### Determine decoupled_auth_id representation in JWT
#### Determine fields included in JWT formatted decoupled_auth_id by considering the following information type
It is OK to use the same format of JWT formatted auth_req_id.

[2020-11-02 01:44] tnorimat commented on #60
resolved by https://github.com/tnorimat/keycloak/pull/9.

[2020-11-02 01:44] #60 closed

[2020-11-02 07:05] tnorimat opened #103 "OpenID Connect : Client Initiated Backchannel Authentication"
Upstreaming CIBA support based on this project's subtasks for ~~[KEYCLOAK-11846 OpenID Connect Financial-grade API: Client Initiated Backchannel Authentication Profile](https://issues.redhat.com/browse/KEYCLOAK-11846) and~~ [KEYCLOAK-12137 OpenID Connect Client Initiated Backchannel Authentication (CIBA)
](https://issues.redhat.com/browse/KEYCLOAK-12137).

[2020-11-02 07:53] #46 closed

[2020-11-03 02:30] tnorimat opened #104 "Client Policy : Support New Admin REST API (Clear JSON Representation) - Design"
This issue is about [KEYCLOAK-16137 Client Policy : Support New Admin REST API (Clear JSON Representation)](https://issues.redhat.com/browse/KEYCLOAK-16137) in [KEYCLOAK-13933 Client Policies](https://issues.redhat.com/browse/KEYCLOAK-13933).

[Goal]
The goal of this project are the followings.
- Write the design of the clear JSON representation for Client Policies.
- Sent the PR of this design to

[2020-11-03 02:34] tnorimat opened #105 "Client Policy : Support New Admin REST API (Clear JSON Representation) - Implementation"
This issue is about [KEYCLOAK-16137Client Policy : Support New Admin REST API (Clear JSON Representation)](https://issues.redhat.com/browse/KEYCLOAK-16137) in [KEYCLOAK-13933 Client Policies](https://issues.redhat.com/browse/KEYCLOAK-13933).

[Goal]
The goal of this project are the followings.
- Implement the clear JSON representation for Client Policies by following the updated [Client Policy des

[2020-11-03 02:40] tnorimat commented on #77
The update goal of this issue is as follows.

- Implement on the existing Admin Console UI the editable text area for [clear JSON representation for Client Policies](https://issues.redhat.com/browse/KEYCLOAK-16137).

[2020-11-03 02:48] tnorimat opened #106 "Client Policy : Support New Admin Console UI - Design"
This issue is about [KEYCLOAK-16138 Client Policy : Support New Admin Console UI](https://issues.redhat.com/browse/KEYCLOAK-16138) in [KEYCLOAK-13933 Client Policies](https://issues.redhat.com/browse/KEYCLOAK-13933).

[Goal]
The goal of this project are the followings.
- By cooperating with keycloak's UXD team, write the design of the new Admin Console UI for Client Policies.
- Sent the PR of this

[2020-11-03 02:51] tnorimat opened #107 "Client Policy : Support New Admin Console UI - Implementation"
This issue is about [KEYCLOAK-16138 Client Policy : Support New Admin Console UI](https://issues.redhat.com/browse/KEYCLOAK-16138) in [KEYCLOAK-13933 Client Policies](https://issues.redhat.com/browse/KEYCLOAK-13933).

[Goal]
The goal of this project are the followings.
- Implement the new Admin Console UI for Client Policies by following the updated [Client Policy design document](https://github.c

[2020-11-07 07:42] brothwellIntegral commented on #95
PR submitted at https://github.com/keycloak/kc-sig-fapi/pull/109

[2020-11-07 10:06] tnorimat commented on #88
merged.

[2020-11-07 10:06] #88 closed

[2020-11-09 08:43] tnorimat commented on #90
merged.

[2020-11-09 08:43] #90 closed

[2020-11-09 09:07] tnorimat commented on #106
PR sent : https://github.com/keycloak/keycloak-community/pull/188

[2020-11-09 09:08] tnorimat commented on #105
PR sent : https://github.com/keycloak/keycloak-community/pull/188

[2020-11-12 07:50] tnorimat commented on #93
merged. https://github.com/keycloak/keycloak/pull/7594

[2020-11-12 07:50] #93 closed

[2020-11-12 07:51] tnorimat commented on #87
merged. https://github.com/keycloak/keycloak/pull/7592

[2020-11-12 07:51] #87 closed

[2020-11-12 07:51] tnorimat commented on #85
merged. https://github.com/keycloak/keycloak/pull/7598

[2020-11-12 07:51] #85 closed

[2020-11-12 07:57] tnorimat commented on #94
Sorry. not duplicated.

[2020-11-13 08:39] tnorimat commented on #94
merged. https://github.com/keycloak/keycloak/pull/7601

[2020-11-13 08:39] #94 closed

[2020-11-15 02:09] tnorimat commented on #104
PR sent : https://github.com/keycloak/keycloak-community/pull/188

[2020-11-17 04:49] tnorimat opened #111 "Follow-up #95 : automate and pass all tests of FAPI-RW OP w/MTLS (PS256, ES256) and w/Private Key (PS256, ES256)"
Using https://github.com/keycloak/kc-sig-fapi/pull/109, run automatically all 4 conformance tests of FAPI-RW OP w/MTLS (PS256, ES256) and w/Private Key (PS256, ES256) and pass them.

[2020-11-17 07:01] #111 closed

[2020-11-17 12:16] HryhoriiHevorkian commented on #89
Hello, @tnorimat , please assign this task to me. Thanks :)

[2020-11-17 12:18] andriimurashkin commented on #91
Hello, please assign this task me.

[2020-11-17 12:43] VinodAnandan commented on #91
Thank you @andriimurashkin

[2020-11-17 12:44] VinodAnandan commented on #89
Thank you @HryhoriiHevorkian

[2020-11-18 06:41] tnorimat commented on #61
merged. https://github.com/tnorimat/keycloak/pull/10

[2020-11-18 06:41] #61 closed

[2020-11-18 09:55] tnorimat commented on #83
merged. https://github.com/keycloak/keycloak/pull/7615

[2020-11-18 09:55] #83 closed

[2020-11-18 10:23] DmitryMishchuk commented on #84
Could be assigned to me.
Regards.

[2020-11-18 10:26] VinodAnandan commented on #84
@DmitryMishchuk thank you !

[2020-11-19 08:32] HryhoriiHevorkian commented on #89
Hello, @tnorimat . Could you please clarify a little bit with this ticket? I have already created the factory, registered it and created an executor: https://github.com/tnorimat/keycloak/pull/15

Next, in my opinion, I have to implement some kind of checking for "cnf" secret field with the client fingerprint - am I right?

[2020-11-20 04:07] tnorimat commented on #89
@HryhoriiHevorkian Hello.
Sorry for the inconvenient due to lacking of enough information.

This executor needs to do the following works on each `ClientPolicyEvent`.
- check/enforce client settings
  - `REGISTER`
  - `UPDATE`
- check incoming requests and refuse them if needed
  - `TOKEN_REQUEST`
  - `TOKEN_REFRESH`
  - `TOKEN_REVOKE`
  - `USERINFO_REQUEST`
  - `LOGOUT_REQUEST`

### check/enforce

[2020-11-20 15:46] HryhoriiHevorkian commented on #89
Hello, @tnorimat . Everything is seems to be understandable for me, except several things:
1. In the method `verifyTokenBindingWithClientCertificate` we have to pass the HTTP request. How can I obtain this request in my `HolderOfKeyEnforceExecutor` class?
2. I have noticed, that in `ClientPolicyBasicTest` class, some enforcers are tested with the definite conditions (which are created manually and

[2020-11-21 11:53] tnorimat commented on #89
@HryhoriiHevorkian  Hello.

As for 1, to extract 'HttpRequest' in an executor, how about the following code?
[code]
Every executor has `KeycloakSession session` as its member.

As for 2, yes, could you prepare some conditions to control this executor's activation?

[2020-11-26 13:44] HryhoriiHevorkian commented on #89
Hello, @tnorimat
I have updated my PR, but I'm not pretty sure that I have understood the enforcer logic for 100%. Could you please review it?
https://github.com/tnorimat/keycloak/pull/15

Thank you for the upper clarification!

[2020-11-27 11:19] andriimurashkin commented on #78
Hi @VinodAnandan
Please assign this task to me.

[2020-11-27 11:35] HryhoriiHevorkian commented on #76
Hello, @VinodAnandan ! Please assign this task for me.

[2020-11-27 11:35] HryhoriiHevorkian commented on #76
@tnorimat Please, provide some details for implementing this task.

[2020-11-27 12:00] VinodAnandan commented on #78
Done. Thank you @andriimurashkin

[2020-11-27 15:05] andriimurashkin commented on #78
@tnorimat
Could you please give some background and details?

Thanks in advance.

[2020-11-28 12:00] tnorimat commented on #106
Concept design is in progress https://marvelapp.com/prototype/6e70eh2/screen/74918976

[2020-11-28 12:04] tnorimat commented on #105
Review is in progress. https://github.com/keycloak/keycloak-community/pull/188

[2020-11-28 12:11] tnorimat commented on #91
merged on tnorimat repository. https://github.com/tnorimat/keycloak/pull/14
 I will send this PR to keycloak upstream with `co-authored-by` trailer.

[2020-11-28 12:19] tnorimat commented on #86
review is in progress. https://github.com/keycloak/keycloak/pull/7628

[2020-11-28 12:23] tnorimat commented on #84
According to the discussion in https://github.com/keycloak/keycloak/pull/7628, This Client Domain Condition is incorporated into the Client Host Condition. The Client Domain Condition is implemented as part of the Client Host Condition. Therefore, this Client Domain Condition PR needs not to be sent to keycloak individually.

If https://github.com/keycloak/kc-sig-fapi/issues/86 is resolved, this i

[2020-11-30 03:03] tnorimat commented on #78
@andriimurashkin Hello.
The goal of this issue are as follows.

- Implement the client policies' executors that do the same thing done by the existing following 7 client registration policies.
  - `ClientDisabledClientRegistrationPolicy`
  - `ClientScopesClientRegistrationPolicy`
  - `ConsentRequiredClientRegistrationPolicy`
  - `MaxClientsClientRegistrationPolicy`
  - `ProtocolMappersClientRegist

[2020-11-30 04:01] tnorimat commented on #76
@HryhoriiHevorkian Hello.

Generally speaking, the pre-set policy is the one that can not be modified and deleted by anyone even if by keycloak administrator.

Currently, the detailed specification has not yet determined (eg. discussed in https://github.com/keycloak/keycloak-community/pull/188), Hopefully you would you wait for deterimning it.

[2020-12-01 00:04] tnorimat commented on #62
merged. https://github.com/tnorimat/keycloak/pull/12

[2020-12-01 00:04] #62 closed

[2020-12-01 19:32] VinodAnandan commented on #95
Closing this.

Thank you @brothwellIntegral @danagain @kannan-ra @arunganesh-a @pritish-nitb @tnorimat @dan

[2020-12-01 19:32] #95 closed

[2020-12-03 03:41] tnorimat commented on #86
merged. https://github.com/keycloak/keycloak/pull/7628

[2020-12-03 03:41] #86 closed

[2020-12-03 03:41] tnorimat commented on #84
resolved by https://github.com/keycloak/keycloak/pull/7628

[2020-12-03 03:41] #84 closed

[2020-12-03 09:06] HryhoriiHevorkian commented on #79
Hello, @tnorimat Please, assign this task to me.

[2020-12-03 09:12] tnorimat commented on #79
@HryhoriiHevorkian Hello. When you start the issue, could you please at first ask @VinodAnandan ?

[2020-12-03 09:13] HryhoriiHevorkian commented on #79
Hello, @VinodAnandan . Could you please assign this issue to me?

[2020-12-03 09:15] VinodAnandan commented on #79
Thank you @HryhoriiHevorkian

[2020-12-04 03:36] tnorimat commented on #81
merged. https://github.com/keycloak/keycloak/pull/7659

[2020-12-04 03:36] #81 closed

[2020-12-04 13:38] HryhoriiHevorkian commented on #79
Hello, @tnorimat . After investigating this task, I have realized that we have no events, for example, for client deletion (I mean the enumerator `ClientPolicyEvent`). Should I add this event?

Another problem with the old events, which have 2 cases: before and after. But new events have only one case. How should I map the old ones to the new ones? Do you have any plan for this migration, otherwis

[2020-12-04 14:29] tnorimat commented on #79
@HryhoriiHevorkian Hello. We need to add new events to `ClientPolicyEvent`. The situation around it has been describled in https://github.com/keycloak/kc-sig-fapi/issues/78#issuecomment-735517976.
I've partially realized this issue on https://github.com/tnorimat/keycloak/tree/WIP-KEYCLOAK-15533 . It might be helpful for you. If you have some question on it, please feel free to ask me.

[2020-12-06 20:39] andriimurashkin commented on #78
Hi @tnorimat
I've implemented first part and added executors for the client registration policies `ClientScopesClientRegistrationPolicy` and `MaxClientsClientRegistrationPolicy`.
https://github.com/tnorimat/keycloak/pull/17

but I have some concerns about:
1. method getClientByAdmin does not return stored scopes (see test `testClientScopesClientRegistrationEnforcerExecutor` commented lines)
2. How

[2020-12-07 12:00] HryhoriiHevorkian commented on #79
@tnorimat Hello, Takashi. Could you please check this PR to verify that I'm going in the correct direction? https://github.com/tnorimat/keycloak/pull/18

[2020-12-08 07:49] tnorimat commented on #79
@HryhoriiHevorkian Thank you. I'll look into https://github.com/tnorimat/keycloak/pull/18.

[2020-12-08 08:02] tnorimat commented on #78
@andriimurashkin Thank you. I'll look into https://github.com/tnorimat/keycloak/pull/17.

As for 1, I might also expect that we can not treat scopes on `getClientByAdmin` because the concept of "scope" is defined by OAuth2.0/OIDC. Basically we can not specify and get the ones based on these concept via Admin REST API. However, we might get ones based on these concept by specifying Attribute. I'll

[2020-12-14 21:11] tnorimat commented on #82
merged. https://github.com/keycloak/keycloak/pull/7664

[2020-12-14 21:11] #82 closed

[2020-12-15 01:51] tnorimat commented on #92
PR sent : https://github.com/keycloak/keycloak/pull/7680

[2020-12-15 01:52] tnorimat commented on #103
PR sent : https://github.com/keycloak/keycloak/pull/7679

[2020-12-15 08:57] tnorimat commented on #92
merged.

[2020-12-15 08:57] #92 closed

[2020-12-16 09:25] pritish-nitb commented on #56
@tnorimat I am making changes for this issue and have following queries:
1. Do we need support for both request object and request_uri, like we have it in case of the OIDC authorization endpoint ?

2. Also, I am going by same logic for parsing the request like it has been done for OIDC authorization endpoint for parsing of query params and request object.

Also I am going to need a branch in which

[2020-12-17 05:08] tnorimat commented on #56
@pritish-nitb Hello.

Yes, it might be preferable for us to support both request object by `request` and `request_uri`.

Yes, we can use the same logic for handling the request object which has been already implemented at the authorization endpoint.

Could you please use [ciba-prototype](https://github.com/tnorimat/keycloak/tree/ciba-prototype) branch?

[2020-12-17 10:04] pritish-nitb commented on #56
@tnorimat Thanks for replying.
Sure, I will use ciba-prototype branch.

[2020-12-19 06:55] tnorimat commented on #64
@arunganesh-a Hello. Thank you for your contribution on this issue.

On releasing the new version of keycloak (12.0.1), I've upgraded the keycloak used on this FAPI-SIG's FAPI-RW conformance test environment from 11.0.1 to 12.0.1. After that, I've run the automated conformance test by `docker-compose up --build` and confirmed that all FAPI-RW conformance tests have been passed against this keycloa

[2020-12-19 06:55] tnorimat commented on #39
@arunganesh-a Hello. Thank you for your contribution on this issue.

On releasing the new version of keycloak (12.0.1), I've upgraded the keycloak used on this FAPI-SIG's FAPI-RW conformance test environment from 11.0.1 to 12.0.1. After that, I've run the automated conformance test by `docker-compose up --build` and confirmed that all FAPI-RW conformance tests have been passed against this keycloa

[2020-12-22 07:50] arunganesh-a commented on #64
@tnorimat  Sure we can close the issue

[2020-12-22 07:51] arunganesh-a commented on #39
@tnorimat  Sure we can close the issue

[2020-12-22 08:09] tnorimat commented on #39
@arunganesh-a Thanks!

[2020-12-22 08:09] #39 closed

[2020-12-22 08:13] tnorimat commented on #64
@arunganesh-a I'm sorry. I've post the comment by mistake. Could you refer to https://github.com/keycloak/kc-sig-fapi/issues/40 ?

[2020-12-22 08:13] tnorimat commented on #40
@arunganesh-a Hello. Thank you for your contribution on this issue.

On releasing the new version of keycloak (12.0.1), I've upgraded the keycloak used on this FAPI-SIG's FAPI-RW conformance test environment from 11.0.1 to 12.0.1. After that, I've run the automated conformance test by docker-compose up --build and confirmed that all FAPI-RW conformance tests have been passed against this keycloak

[2020-12-31 01:14] tnorimat commented on #79
merged. https://github.com/tnorimat/keycloak/pull/18

[2020-12-31 01:14] #79 closed

[2020-12-31 01:15] tnorimat commented on #80
merged. https://github.com/tnorimat/keycloak/pull/18

[2020-12-31 01:15] #80 closed

[2020-12-31 01:16] tnorimat commented on #78
merged. https://github.com/tnorimat/keycloak/pull/18

[2020-12-31 01:17] tnorimat commented on #78
I'll close after send this PR to keycloak upstream and is merged.

[2021-01-06 08:50] tnorimat commented on #91
merged. https://github.com/keycloak/keycloak/pull/7682

[2021-01-06 08:50] #91 closed

[2021-01-12 01:43] tnorimat commented on #104
merged.

[2021-01-12 01:43] #104 closed

[2021-01-12 01:43] #40 closed

[2021-01-12 10:35] tnorimat commented on #89
merged. https://github.com/keycloak/keycloak/pull/7699

[2021-01-12 10:35] #89 closed

[2021-02-28 23:51] tnorimat opened #144 "Follow the final version of FAPI 1.0"
[Motivation]
The current keycloak (12.0.1) has supported FAPI-RW security profile which version is Implementer’s Draft ver 2(ID2). It also has passed all corresponding conformance tests on local environment.
On Jan, OID-F will fix the final version of FAPI 1.0 which have some changes compared with ID2.
IMO, we must support the final version of FAPI 1.0.

[Additional works needed]
We need to do the

[2021-03-03 01:55] #78 closed

[2021-03-12 15:02] jlosantana commented on #144
great news!

[2021-03-16 11:53] rmarins commented on #144
Check out the difference between ID2 and 1.0 Final versions of the FAPI Part 2 spec:
https://github.com/rmarins/kc-sig-fapi/commit/b5a8cba4b0580aa8f1c7903dcc39d93e30e320ec?branch=b5a8cba4b0580aa8f1c7903dcc39d93e30e320ec&diff=split

[2021-03-21 21:15] tnorimat commented on #144
@rmarins Thank you for your analysis. I've updated the working items for following the final version FAPI.
I've described it in FAPI-SIG 15th meeting. You can see its document on the following link.
https://github.com/keycloak/kc-sig-fapi/blob/master/FAPI-SIG/meetings/15th/presentations/FAPI-SIG_15th_MTG_agenda.pdf
page 6 to 9.

[2021-04-07 00:07] tnorimat commented on #58
I've merged @akoserwal 's work and taken over it to complete this feature by adding arquillian integration tests afterwards.

[2021-04-14 05:47] tnorimat commented on #144
Theoretically, the latest keycloak can support the final version of FAPI 1.0 by https://github.com/keycloak/keycloak/pull/7910 and https://github.com/keycloak/keycloak/pull/7907 .

However, we cannot run the conformance tests supporting the final version of FAPI 1.0 conformance because the current conformance test have not yet supported this final version as mentioned in the page 7 of [FAPI-SIG 15

[2021-05-01 23:53] tnorimat commented on #144
The final objective is to run FAPI conformance suite (test plan = MTLS, Private Key / signature algorithm = PS256, ES256) for FAPI 1.0 final version against the released keycloak  and pass all tests.

To do so,  the following conditions need to be satisfied.

1. REST API specification for Client Policies is fixed.
1. Preset Client Policies for FAPI 1.0 final are determined and implemented.
1. The

[2021-05-01 23:55] tnorimat commented on #106
The new admin console UI has not yet been available and not sure when it is available.

[2021-05-01 23:56] tnorimat commented on #105
merged. https://github.com/keycloak/keycloak/pull/7780

[2021-05-01 23:56] #105 closed

[2021-05-01 23:59] tnorimat commented on #103
merged.

[2021-05-01 23:59] #103 closed

[2021-05-02 00:01] tnorimat commented on #77
In progress. It will be supported by keycloak 14.

- Ticket : [KEYCLOAK-14209 Client Policy : UI on old Admin Console](https://issues.redhat.com/browse/KEYCLOAK-14209)
- ML : [JSON configuration format for client policies](https://groups.google.com/g/keycloak-dev/c/MfoTQbNPljE)
- PR : [KEYCLOAK-14209 Client policies admin console support. Small changing of format of JSON for client policies and pr

[2021-05-02 00:03] tnorimat commented on #76
In progress. It will be supported by keycloak 14.

- Ticket : [KEYCLOAK-14208 Client Policy : Pre-set Policies (including FAPI preset policies)](https://issues.redhat.com/browse/KEYCLOAK-14208)
- ML : [Default client profiles for FAPI](https://groups.google.com/g/keycloak-dev/c/Hyzib1Tm3zY)
- PR : not yet

[2021-05-02 20:29] tnorimat commented on #58
merged https://github.com/keycloak/keycloak/pull/7679 includes per client settings.

[2021-05-02 20:29] #58 closed

[2021-05-07 20:04] tnorimat opened #161 "Update conformance-suite version to release-v4.1.10"
The current conformance-suite version is release-v4.1.6. It updates it to release-v4.1.10.

However, this release-v4.1.10 does not support FAPI 1.0 final (ex. request object "nbf" existence check, request object's long available period check).

The latest released keycloak 13.0.0 supports FAPI 1.0 final. Therefore, if we run conformance-suite release-v4.1.10 against   keycloak 13.0.0, some tests f

[2021-05-07 20:29] tnorimat commented on #161
Also, sometimes some test fails because sometimes keycloak is still starting up at this point if no maven dependencies need downloading in server service so that the 'docker internal host' is not available.

It changes the waiting duration from 20 sec to 40 sec for its work-around.

[2021-05-10 05:54] #161 closed

[2021-05-10 05:56] tnorimat commented on #144
I've tentatively push FAPI 1.0 Final supported environment onto https://github.com/keycloak/kc-sig-fapi/tree/for-fapi-1-0-final .

[2021-05-16 06:39] tnorimat commented on #77
merged. https://github.com/keycloak/keycloak/pull/7969

[2021-05-16 06:39] #77 closed

[2021-05-16 07:16] tnorimat commented on #65
We can run FAPI-CIBA conformance test against keycloak 13 but tests almost fail.

To run tests and get reasonable results, the following needs to be done.

- Client setting on keycloak for CIBA
- Prepare an authentication entity
- Keycloak server setting for CIBA

### Client setting on keycloak for CIBA

#### CIBA Grant Enabled

As [Server Administrator Guide](https://www.keycloak.org/docs/latest/

[2021-05-16 07:34] tnorimat opened #165 "FAPI-CIBA Client Policy - Endpoint : support CIBA Backchannel Authentication Endpoint"
JIRA ticket : https://issues.redhat.com/browse/KEYCLOAK-17937

FAPI-CIBA security profile support also uses client policies.
However, the current client policies does not support CIBA backchannel authentication endpoint.
Also, this support requires `BackchannelAuthenticationEndpointRequest` implemented by the [PR](https://github.com/keycloak/keycloak/pull/8006) that has already been submitted but

[2021-05-16 08:00] tnorimat opened #166 "FAPI-CIBA Client Policy - Executor : Enforce Backchannel Authentication Request satisfying high security level"
JIRA ticket : https://issues.redhat.com/browse/KEYCLOAK-18123

For FAPI-CIBA security support, this ticket aims to satisfy the requirements defined by [FAPI-CIBA specification draft](https://bitbucket.org/openid/fapi/src/master/Financial_API_WD_CIBA.md#markdown-header-522-authorization-server) .

 To say more precisely, it needs to do the following thing

- reject a backchannel authentication requ

[2021-05-16 21:44] tnorimat commented on #56
PR sent. https://github.com/keycloak/keycloak/pull/8006

[2021-05-21 13:14] elnanou opened #167 "Wrong authentication delegation response status"
I noticed that the Authentication Delegation Response status is 201 and not 204 as mentioned in the documentation.
If 204 is returned we get this error :
`OIDCException(httpStatus=503 SERVICE_UNAVAILABLE, clientExceptionContent=ClientExceptionContent(error=server_error, errorDescription=Unexpected response from authentication device))`

HttpAuthenticationChannelProvider source code :

    @Overrid

[2021-05-25 07:03] tnorimat commented on #167
Hello @elnanou ,
Thank you for your notification. I will fix [keycloak's documentation](https://www.keycloak.org/docs/latest/server_admin/index.html#_client_initiated_backchannel_authentication_grant) as you pointed out (not 204. 201 returned).

[2021-05-26 01:05] tnorimat opened #169 "Conformance Suite version up from 4.1.10 to 4.1.11"
4.1.11 support client's request with request object including "nbf" that is require by FAPI 1.0 Advanced Final version while not by FAPI-RW ID2 verison.

[2021-07-19 20:39] tnorimat opened #198 "First suppor for FAPI-CIBA-ID1 automated conformance test run"
Support automated conformance test run for FAPI-CIBA-ID1 conformance profile.

The following 2 tests cannot be passed automatically so that these test can be passed automatically in the future.

  * fapi-ciba-id1-user-rejects-authentication :
 The mock auth entity server (`auth_entity_server`) for user authentication by AD cannot tell whether the specified test requires user authentication success

[2021-07-20 04:44] #198 closed

[2021-08-03 19:39] evertongodoi opened #208 "List of concerns keycloak"
Hi all, I've a question about openid/concerns on keycloak, how it's possible to create a list of concerns on keycloak, with options required and no required, to select options in a list. I looked for documentation, and I created test but I can't to do this, I only got it to created a test with one option concern in a button, but I need a list. I don't know if this option with list, is necessary to

[2021-08-03 20:44] #169 closed

[2021-08-03 20:44] #166 closed

[2021-08-03 20:45] #165 closed

[2021-08-03 20:45] #167 closed

[2021-08-03 20:45] #144 closed

[2021-08-03 20:45] #76 closed

[2021-08-03 20:45] #65 closed

[2021-08-03 20:46] #56 closed

[2021-08-04 22:42] tnorimat commented on #208
Hello @evertongodoi . Unfortunately, I could not clarify what a list of concerns on keycloak is. Could you elaborate it?

[2021-08-16 14:03] evertongodoi commented on #208
@tnorimat , I found what I needed, in a client scope! tks

[2021-08-16 14:03] #208 closed

[2021-09-18 18:31] evertongodoi opened #219 "Dynamic or Parameter scope"
How it's possible to enable Dynamic or Parameter scope in Keycloak ? This is necessary on the Open Banking Brazil Project, and I foundn't in the Keycloak configuration, if someone may help me I would appreciate.

[2021-09-20 00:40] tnorimat commented on #219
Hello @evertongodoi ,

AFAIK, the current keycloak does not support dynamic or parameter scope.

Some contributor has tried to support the dynamic scope. But I'm not sure whether this dynamic scope is what you want.
You can found its discussion in https://groups.google.com/g/keycloak-dev/c/yGCWth8reNw/m/TEDYZS8hAwAJ .
Also its corresponding PR is https://github.com/keycloak/keycloak/pull/7721 .

[2021-09-21 19:23] evertongodoi commented on #219
@tnorimat  thanks for the response, I sent a message in the Google Group discussion, and Daniel Software Engineer at RedHat, responded he that working right now in the implementation.

[2021-10-15 12:51] evertongodoi opened #228 "Add new claims_supported"
Hi everybody!

I need a help, to add new claims_supported in .well_know at the keycloak, because I sought in documentation and the keycloak admin, but I can't found where I add the information.

In my case I need to add "cpf", "cnpj", bellow follow my  current .well_know with claims_supported.

"claims_supported": [
    "aud",
    "sub",
    "iss",
    "auth_time",
    "name",
    "given_name",

[2021-10-15 17:25] #228 closed

[2021-12-31 07:27] bfyxzls commented on #61
@tnorimat hello,I have infinispan server cluster(192.168.1.1,192.168.1.2,192.168.1.3),then my keycloak server have tow nodes,I find a problem,when I get login page and submit login then occur errors,it means that get login generate code in node1,submit login in node2,however node2 have not this code .(because this code in node1)

[2021-12-31 22:45] tnorimat commented on #61
Hello @bfyxzls ,
Have you used CIBA when you've encountered this issue? Or used ordinal authorization code flow?
If the latter, it seems that it is not relevant to CIBA and It might be better to ask it for [keycloak](https://github.com/keycloak/keycloak).

[2022-01-10 14:23] mposolda opened #242 "Remove workarounds for failing CIBA test with bad_binding_message"
### Description

I've created the issue in the Keycloak project https://github.com/keycloak/keycloak/issues/9469 and fixed this issue in Keycloak. It should be available in Keycloak 17.

So once we migrate the conformance testsuite in this project to Keycloak 17.0.0, it will help to achieve that we can simplify this project to remove some workaround due the failing test for `fapi-ciba-id1-ensure-a

[2022-02-02 09:20] thomasdarimont commented on #219
Update in this: The discussion around dynamic scope support and it's effect on RAR has resulted in a new (merged) discussion: https://github.com/keycloak/keycloak-community/pull/325

[2022-02-02 14:19] thomasdarimont opened #244 "Run test-suite with Keycloak-X"
### Description

Add support for running the testsuite with the Quarkus based Keycloak.X distribution instead of Wildfly based Keycloak.

### Discussion

_No response_

### Motivation

The Keycloak project is going to declare the Quarkus based Keycloak distribution (keycloak.x) as the default distribution soon.
Although there are apparently no API differences between the Wildfly based Keycloak dis

[2022-02-02 18:06] thomasdarimont commented on #244
I have a "working" version with keycloak.x with realm import via side-car in my branch: https://github.com/thomasdarimont/kc-sig-fapi/tree/poc/use-keycloak-x

Working means:
- Keycloak-X container starts
- server certs and client-ca certs are imported in the truststore
- SPI config customizations are in place
- Keycloak is accessible via https
- TLS version and cipher settings are in place
- Test

[2022-02-02 23:29] tnorimat commented on #244
@thomasdarimont Thank you very much. I would like to check your work.

[2022-02-04 01:38] tnorimat commented on #244
@thomasdarimont Hello, I've checkouted your branch and started just Keycloak-X with realm import run as you mentioned.
After terminating and restarting it, the following error occurred.

[code]

It might happens due to my environment. Could you know thie error?

[2022-02-04 09:04] thomasdarimont commented on #244
Ah you probably need to remove the `     - "8443:8443"` port binding in `docker-compose-keycloakx.yml` for the keycloak container. I left that in while I was testing the Keycloak-X setup.

To verify that Keycloak-x can come up you could try this:
[code]

[2022-02-10 05:12] shaneboulden opened #246 "Australian CDR: fapi1-advanced-final-discovery-end-point-verification fails"
### Describe the bug

Running the FAPI1 Advanced Final test suite with the Australian Consumer Data Rights FAPI profile returns a test failure.

Test Name:fapi1-advanced-final-discovery-end-point-verification
Variant:client_auth_type=private_key_jwt, fapi_auth_request_method=by_value, fapi_profile=consumerdataright_au, fapi_response_mode=plain_response
Description:[Manual]FAPI1-Advanced-Final: Key

[2022-02-10 05:27] shaneboulden opened #247 "Australian CDR: fapi1-advanced-final-ensure-request-object-with-multiple-aud-succeeds fails"
### Describe the bug

Test Name:fapi1-advanced-final-user-rejects-authentication
Variant:client_auth_type=private_key_jwt, fapi_auth_request_method=by_value, fapi_profile=consumerdataright_au, fapi_response_mode=plain_response
Description:[Manual]FAPI1-Advanced-Final: Keycloak test with private_key_jwt client authentication (RequestObject:PS256/IDToken:PS256)
Test Version:4.1.38

### Version

15.0

[2022-02-11 04:47] tnorimat commented on #247
Hello @shaneboulden ,

Unfortunately, the current keycloak does not support Australia Consumer Data Right security profile.

However, we might resolve only the issue by modifying kc-sig-fapi/keycloak/oidf.json:
[code]
to
[code]
and modifying kc-sig-fapi/keycloak/realm.json:
[code]
to
[code]

[2022-02-12 09:20] tnorimat commented on #244
@thomasdarimont To run conformance test properly, the following modification might be needed.

keycloak/Dockerfile.x:
[code]
In this conformance test run environment, keycloak needs to open 9443 port, not 8443 port as default.
8443 is used by conformance test server.

docker-compose-keycloakx.yml:
[code]
If adding port number here, conformance test does not run properly.

Considering that keycloak

[2022-02-12 09:23] tnorimat commented on #244
By the way, some test (ckecking "acr" claim in ID Token) fails by kc16 and kc17. The change from kc15 to kc16 causes the problem.

[2022-02-15 08:01] tnorimat commented on #244
@thomasdarimont Could you send PR of your [PoC branch](https://github.com/thomasdarimont/kc-sig-fapi/tree/poc/use-keycloak-x)? I would like to continue working on running test-suite with Keycloak-X based on your PR.

[2022-02-15 23:04] thomasdarimont commented on #244
@tnorimat thank you for your valuable feedback :)

I just created a new with your recommended changes: https://github.com/keycloak/kc-sig-fapi/pull/248
- adapted the ports
- updated the images to Keycloak 17.0.0

[2022-02-16 13:41] tnorimat commented on #244
@thomasdarimont I've confirmed that FAPI 1.0 Advanced, FAPI-CIBA, Open Banking Brazil FAPI 1.0 conformance tests have passed against both quarkus based keycloak 17 and wildfly based keycloak 17 by my additional [PR](https://github.com/keycloak/kc-sig-fapi/pull/249) based on your [PR](https://github.com/keycloak/kc-sig-fapi/pull/248). Therefore, I close this issue. Thank you very much.

[2022-02-16 13:41] #244 closed

[2022-02-17 00:04] tnorimat commented on #219
@evertongodoi The discussion continues in keycloak's repository. Therefore, I close this issue here. Thank you.

[2022-02-17 00:04] #219 closed

[2022-02-17 00:07] tnorimat commented on #45
@kannan-ra I think it might be sufficient to use FAPI-SIG's repository to conformance tests automatically and follow new version of keycloak and conformance suite. Therefore, I close this issue. Thank you.

[2022-02-17 00:07] #45 closed

[2022-02-17 00:14] tnorimat opened #250 "Follow new keycloak distribution style"
### Description

From keycloak 17, quarkus based keycloak become default and wildfly based keycloak become treated as legacy.
To follow this new distribution style, it might be better to change the filename of some file like docker-compose-keycloak.yml and rewite README.md

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

[2022-02-17 00:27] tnorimat opened #251 "OpenID Connect Core Basic OP conformance test automated run environment"
### Description

This FAPI-SIG's conformance test automated run environment is useful for other types of conformance tests.
The issue aims to construct OpenID Connect Core Basic OP conformance test.

- Test Plan: OpenID Connect Core: Basic Certification Profile Authorization server test

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

[2022-02-17 00:28] tnorimat opened #252 "OpenID Connect Core Implicit OP conformance test automated run environment"
### Description

This FAPI-SIG's conformance test automated run environment is useful for other types of conformance tests.
The issue aims to construct OpenID Connect Implicit Basic OP conformance test.

- Test Plan: OpenID Connect Core: Implicit Certification Profile Authorization server test

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

[2022-02-17 00:29] tnorimat opened #253 "OpenID Connect Core Hybrid OP conformance test automated run environment"
### Description

This FAPI-SIG's conformance test automated run environment is useful for other types of conformance tests.
The issue aims to construct OpenID Connect Core Hybrid OP conformance test.

- Test Plan: OpenID Connect Core: Hybrid Certification Profile Authorization server test

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

[2022-02-17 00:32] tnorimat opened #254 "OpenID Connect Core Config OP conformance test automated run environment"
### Description

This FAPI-SIG's conformance test automated run environment is useful for other types of conformance tests.
The issue aims to construct OpenID Connect Core Config OP conformance test.

- Test Plan: OpenID Connect Core: Config Certification Profile Authorization server test

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

[2022-02-17 00:33] tnorimat opened #255 "OpenID Connect Core Dynamic OP conformance test automated run environment"
### Description

This FAPI-SIG's conformance test automated run environment is useful for other types of conformance tests.
The issue aims to construct OpenID Connect Core Dynamic OP conformance test.

- Test Plan: OpenID Connect Core: Dynamic Certification Profile Authorization server test

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

[2022-02-19 10:55] tnorimat opened #256 "Upgrading conformance-suite version from release-v4.1.39 to release-v4.1.41"
### Description

Upgrading conformance-suite version from release-v4.1.39 to release-v4.1.41.

### Discussion

_No response_

### Motivation

_No response_

### Details

However, it causes a error by running a conformance test as follows:
[code]

The cause of the problem is as follows:
- the conformance test automated environment modify `run-test-plan.py` from conformance-suite and override it by

[2022-02-19 13:20] tnorimat opened #257 "Updating README.md for supporting keycloak 17 and conformance-suite v4.1.41"
### Description

Updating README.md for supporting keycloak 17 and conformance-suite v4.1.41

- Keycloak 17 became quarkus based. The wildfly based keycloak became legacy.
- Remove some files derived from conformance-suite.

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

[2022-02-19 13:46] #256 closed

[2022-02-19 15:23] #257 closed

[2022-02-23 02:32] #254 closed

[2022-02-24 08:02] #251 closed

[2022-02-24 22:28] #252 closed

[2022-02-24 22:52] tnorimat opened #265 "OpenID Connect Core Hybrid OP: accept an authorization request without nonce and with state in hybrid flow"
### Description

To pass OpenID Connect Core Hybrid OP conformance tests completely, it is needed to accept an authorization request without nonce and with state in hybrid flow.

### Discussion

The conformance test's expectation follows [OIDC core specification](https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest). `nonce` parameter is optional.

By the way, [FAPI 1.0 baseline](http

[2022-02-26 01:54] tnorimat opened #268 "OpenID Connect Core Implicit OP: email and verified_email claims not included in ID token"
### Description

To get around warnings from OpenID Connect Core Implicit OP conformance tests completely, it is needed include email and email_veified claims in ID token when an authorization request includes `email` scope value.

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

[2022-02-26 02:12] tnorimat opened #269 "OpenID Connect Core Form Post OP conformance test automated run environment"
### Description

This FAPI-SIG's conformance test automated run environment is useful for other types of conformance tests.
The issue aims to construct OpenID Connect Core Form Post OP conformance test.

- Test Plan: OpenID Connect Core: Form Post Basic Certification Profile Authorization server test
- Test Plan: OpenID Connect Core: Form Post Implicit Certification Profile Authorization server te

[2022-02-26 02:13] #269 closed, assigned to nobody

[2022-02-26 02:13] #253 closed

[2022-02-26 02:21] tnorimat opened #271 "OpenID Connect Core Form Post OP: HTTP POST to redirect_uri when error cases (response_type is missing)"
### Description

To pass OpenID Connect Core Form Post OP conformance tests completely, it is needed to redirect a browser to redirect_uri by HTTP POST when not only normal cases but also error cases (response_type is missing).

### Discussion

When keycloak receives an authorization request without `response_type` parameter, it redirects a browser to `redirect_uri` by HTTP GET, not POST.

Affecte

[2022-02-26 06:23] tnorimat opened #272 "OpenID Connect Core Dynamic OP: automate key rotate during a test"
### Description

To automate OpenID Connect Core Dynamic OP completely, it is needed to automate key rotate during the following test:

- Test Plan Name: oidcc-dynamic-certification-test-plan
- Test Name: oidcc-server-rotate-keys

During this test, the conformance suite requires us to rotate a key in signature. We can do it manually by createing a new key in sigature and disabling the exsiting key

[2022-02-26 07:04] tnorimat opened #274 "OpenID Connect Core 3rd Party-Init OP conformance test automated run environment"
### Description

This FAPI-SIG's conformance test automated run environment is useful for other types of conformance tests.
The issue aims to construct OpenID Connect Core 3rd Party-Init OP conformance test although the current keycloak (17.0.0) does not support 3rd Party-Init OP.

- Test Plan: OpenID Connect Core: 3rd party initiated login Certification Profile Authorization server test

### Disc

[2022-02-26 07:06] #274 closed, assigned to nobody

[2022-02-26 09:40] tnorimat opened #276 "OpenID Connect Core Basic OP: assign ACR to LOA mapping to dynamic registered client"
### Description

To resolve warning raised form the following test , we need to assign ACR to LOA mapping to dynamic registered client.

- Test Plan Name: oidcc-basic-certification-test-plan
  - Test Name: oidcc-ensure-request-with-acr-values-succeeds
  - Test Variant : server_metadata=discovery, client_registration=dynamic_client

- Test Plan Name: oidcc-implicit-certification-test-plan
  - Test

[2022-02-26 10:29] tnorimat opened #277 "OpenID Connect Core Basic OP conformance test variants automated run environment"
### Description

This FAPI-SIG's conformance test automated run environment is useful for other types of conformance tests.
The issue aims to construct OpenID Connect Core Basic OP conformance test.

- Test Plan: OpenID Connect Core: Basic Certification Profile Authorization server test
  - Test Variant: server_metadata=static, client_registration=static_client
  - Test Variant: server_metadata=di

[2022-02-26 10:31] #277 closed

[2022-02-26 11:05] tnorimat opened #279 "OpenID Connect Core Implicit OP conformance test variants automated run environment"
### Description

This FAPI-SIG's conformance test automated run environment is useful for other types of conformance tests.
The issue aims to construct OpenID Connect Core Basic OP conformance test.

- Test Plan: OpenID Connect Core: Implicit Certification Profile Authorization server test
  - Test Variant: server_metadata=static, client_registration=static_client
  - Test Variant: server_metadata

[2022-02-26 11:08] #279 closed

[2022-02-26 11:24] tnorimat opened #281 "OpenID Connect Core Hybrid OP conformance test variants automated run environment"
### Description

This FAPI-SIG's conformance test automated run environment is useful for other types of conformance tests.
The issue aims to construct OpenID Connect Core Hybrid OP conformance test.

- Test Plan: OpenID Connect Core: Hybrid Certification Profile Authorization server test
  - Test Variant: server_metadata=static, client_registration=static_client
  - Test Variant: server_metadata=

[2022-02-26 11:43] #281 closed

[2022-02-26 11:58] tnorimat opened #283 "OpenID Connect Core Form Post OP conformance test variants automated run environment"
### Description

This FAPI-SIG's conformance test automated run environment is useful for other types of conformance tests.
The issue aims to construct OpenID Connect Core Form Post OP conformance test.

- Test Plan: OpenID Connect Core: Form Post Basic Certification Profile Authorization server test
  - Test Variant: server_metadata=static, client_registration=static_client
  - Test Variant: serv

[2022-02-26 12:33] #283 closed

[2022-02-26 12:40] tnorimat opened #285 "OpenID Connect Core Dynamic OP conformance test variants automated run environment"
### Description

This FAPI-SIG's conformance test automated run environment is useful for other types of conformance tests.
The issue aims to construct OpenID Connect Core Dynamic OP conformance test.

- Test Plan: OpenID Connect Core: Dynamic Certification Profile Authorization server test
  - Test Variant: response_type=code id_token token
  - Test Variant: response_type=code
  - Test Variant: r

[2022-02-26 12:53] #285 closed

[2022-02-26 12:59] tnorimat opened #287 "OpenID Connect Core 3rd Party-Init OP conformance test variants automated run environment"
### Description

This FAPI-SIG's conformance test automated run environment is useful for other types of conformance tests.
The issue aims to construct OpenID Connect Core 3rd Party-Init OP conformance test although the current keycloak (17.0.0) does not support 3rd Party-Init OP.

- Test Plan: OpenID Connect Core: 3rd party initiated login Certification Profile Authorization server test
  - Test

[2022-03-03 22:00] tnorimat commented on #265
resolved by https://github.com/keycloak/keycloak/issues/10143 in keycloak 18.

[2022-03-03 22:00] #265 closed

[2022-03-04 03:17] shaneboulden commented on #246
Thanks @tnorimat!

I've updated `oidf.json`, and the realm.json files:
[code]
The test now succeeds :)

[2022-03-04 03:17] #246 closed

[2022-03-04 03:22] shaneboulden commented on #247
Thanks @tnorimat!

I've now passed this section of the test, and only have three failures now being reported:

[code]
Do you know how I can configure token encryption using the FAPI test harness, and inject the cdrVersion into resource endpoint requests? Let me know if you'd like me to break these out into separate issues to track.

[2022-03-07 05:54] tnorimat commented on #247
@shaneboulden I will check your question afterwards. As for ID token encryption, the following keycloak discussion might be helpful.
- [How to get the CEK to decrypt the ID Token?](https://github.com/keycloak/keycloak/discussions/9990)
- [How the ID Token Encryption Content Encryption Algorithm works?](https://github.com/keycloak/keycloak/discussions/9876)

The current keycloak cannot support acce

[2022-03-08 10:39] tnorimat commented on #247
@shaneboulden As for the last Resource server endpoint tests, it may not relate to an authorization server (keycloak). It may relate to a resource server (kc-fapi-sig environment sets up an API gateway powered by nginx server for a resource server).
It may be similar to [the `x-fapi-interaction-id` requirement of FAPI 1.0 baseline security profile for a resource server](https://openid.net/specs/op

[2022-03-08 10:42] tnorimat commented on #247
@shaneboulden If you can pass the conformance test of Australia CDR, could you feedback it to keycloak project?
It might be preferable to this feedback via our FAPI-SIG activities.

[2022-03-08 11:53] tnorimat commented on #271
resolved  by https://github.com/keycloak/keycloak/pull/10585

[2022-03-08 11:53] #271 closed

[2022-03-08 11:55] tnorimat commented on #250
closed by https://github.com/keycloak/kc-sig-fapi/pull/248

[2022-03-08 11:55] #250 closed

[2022-03-22 20:27] shaneboulden commented on #247
Hi @tnorimat, thanks for your assistance with this.

I'm now only failing two tests for the Australian CDR, though this is likely just my inexperience with the certification framework

- fapi1-advanced-final-user-rejects-authentication
- fapi1-advanced-final-ensure-request-object-signature-algorithm-is-not-none

I'll create a PR this week with an automated confformance suite config.

[2022-03-22 20:27] shaneboulden commented on #247
Test is now passing, closing this issue

[2022-03-22 20:27] #247 closed

[2022-03-22 20:31] shaneboulden opened #290 "Support for arrays with client_jwks_server"
### Description

The Australian CDR conformance suite requires id token encryption. I've managed to pass the conformance suite tests by creating a new encryption key with `jwk-keygen --use=enc --format --jwks --pem --pem-body --alg=RSA-OAEP --kid=client1-OAEP` and then providing both the signing and encryption keys as an array, eg;
[code]
Currently the JWKS server packaged with this repo only supp

[2022-03-23 04:30] tnorimat commented on #290
@shaneboulden How about add the following 4 private/public key files?

client_private_keys/jwk_enc_PS256_client1-PS256.json :
[code]

client_private_keys/jwk_enc_PS256_client1-PS256-pub.json :
[code]

client_private_keys/jwk_enc_PS256_client2-PS256.json :
[code]

client_private_keys/jwk_enc_PS256_client2-PS256-pub.json :
[code]

[2022-03-23 04:39] shaneboulden commented on #290
@tnorimat Thanks for taking a look.

Keycloak only supports a single JWKS URL to be configured in the client.

![Keycloak JWKS URL](https://user-images.githubusercontent.com/1834999/159625143-34bf6434-e40b-4743-98f3-8d74eefbd738.png)

So, we need to provide both the signing key **and** the encryption key through a single URL to support the Australian CDR requirements.

This adds the encryption key

[2022-03-23 05:11] tnorimat commented on #290
@shaneboulden
https://github.com/keycloak/kc-sig-fapi/blob/main/client_private_keys/main.go#L51
It assumes that `jwks_uri` have a query parameter "kid". How about modifying `func jwks_hander` to return all client public keys if a url does not have "kid" query parameter and register keycloak this url without "kid" query parameter?

[2022-03-23 05:22] shaneboulden commented on #290
@tnorimat Great suggestion, I assume this will work for some tests.

How will it work for mutiple clients, each with their own pairs of signing and encryption certificates? This is also a requirement of the Australian CDR conformance tests. Will a single URL returning all public keys support these clients with specific sets of signing and encryption keys?

eg;

**client 1**
[code]
**client 2**
[co

[2022-03-23 06:03] tnorimat commented on #290
@shaneboulden
It seems to be ok that this function returns all clients' key pairs becaush each client have each own key pair with different `kid`.
Of course, in the real use case, the different client shoudl uses its own different `jwks_url` to return its own public keys.

The alterenateve way is not to use `jwks_uri`. Instead of that, use `jwks`. The recent keycloak have supported registering the

[2022-03-26 00:11] tnorimat commented on #290
@shaneboulden I've passed all FAPI Australia CDR conformance tests by using my branch https://github.com/tnorimat/keycloak-fapi/tree/fapi-aus-cdr . I've used `jwks` instead of `jwks_uri`.

Plan Name:fapi1-advanced-final-test-plan
Variant:client_auth_type=private_key_jwt, fapi_auth_request_method=by_value, fapi_profile=consumerdataright_au, fapi_response_mode=plain_response
Description:[Manual]FAPI

[2022-03-26 03:00] tnorimat opened #292 "Australia CDR conformance test variants automated run environment"
### Description

This FAPI-SIG's conformance test automated run environment is useful for other types of conformance tests.
The issue aims to construct Australia CDR conformance test.

There are 8 variants.

[1]
Test Plan: fapi1-advanced-final-test-plan
Client Authentication Type: private_key_jwt
Request Object Method: by_value
FAPI Profile: consumerdataright_au
FAPI Response Mode: plain_response

[2022-03-28 02:43] #292 closed

[2022-03-28 02:43] tnorimat commented on #292
https://github.com/keycloak/kc-sig-fapi/pull/293

[2022-03-28 02:45] tnorimat commented on #290
@shaneboulden Automated tests (both AU-CDR Adv. OP w/ Private Key and AU-CDR Adv. OP w/ Private Key, PAR of Australia CDR (Based on FAPI 1 Advanced Final)) have been merged to this repository's main branch (https://github.com/keycloak/kc-sig-fapi/pull/293) .

[2022-03-28 03:25] shaneboulden commented on #290
@tnorimat I just checked out your changes and verified that all of the CDR tests pass. I'll close this issue, `jwks` seems fine.

[2022-03-28 03:25] #290 closed

[2022-03-29 10:19] tnorimat commented on #290
@shaneboulden FYI. wildfly based keycloak 15.0.2 has also passed Australia CDR conformance test by using my branch (https://github.com/tnorimat/keycloak-fapi/tree/fapi-aus-cdr-kc15.0.2).
It used `JWKS_URI` instead of `JWKS` for returning both signature and encryption public keys because keycloak 15.0.2 does not support `JWKS` of client settings.

[2022-04-13 00:30] tnorimat opened #298 "client_jwks_server cannot provide both "sig" and "enc" keys of clients"
### Describe the bug

The current client_jwks_server cannot provide both "sig" and "enc" keys of clients.

Some conformance tests requires a client to use public keys for both "sig" and "enc".
However, the current client_jwsk_server whose URL is `JWKS_URI` client metadata can only return one public key for a client.

As its workaround, keycloak after 15.0.2 support `JWKS` so that a client can regi

[2022-04-13 01:12] #298 closed

[2022-04-19 07:58] #242 closed

[2022-04-20 10:20] vanhoanHoang commented on #48
@tnorimat Does Keycloak not support PUSH mode yet please ?

[2022-04-20 17:16] thomasdarimont opened #301 "Update Keycloak images to 17.0.1"
### Description

Use most up to date Keycloak version for tests to detect regressions early.

### Discussion

_No response_

### Motivation

_No response_

### Details

See: https://www.keycloak.org/2022/03/keycloak-1701-released

[2022-04-20 21:07] tnorimat commented on #48
@vanhoanHoang Unfortunately the current keycloak does not support CIBA push mode, only support poll and ping mode.
Are there any actual use cases where push mode is beneficial?

[2022-04-23 23:14] tnorimat commented on #272
It might be preferabe to skip this test on automatic conformance test run.

[2022-04-23 23:33] tnorimat opened #304 "Keycloak 10820 Fixes to hostname affects conformance test automatic run environment"
### Describe the bug

https://github.com/keycloak/keycloak/pull/10820 affects the settings of quarkus-based keycloak for running conformance tests.
It is needed to specify the keycloak uses a LB(HAProxy) explicitly to construct a valid front end endpoint URL.

### Version

from 17.0.1

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

#

[2022-04-23 23:36] tnorimat opened #305 "Add "Passed Conformance Tests per Keycloak version" section to README.md"
### Description

To clarify which keycloak version passes which conformance tests of which conformance-suite version. Add "Passed Conformance Tests per Keycloak version" section to README.md.

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

[2022-04-23 23:44] #301 closed

[2022-04-23 23:49] #304 closed

[2022-04-23 23:51] #305 closed

[2022-04-24 00:05] tnorimat opened #308 "Update Keycloak images to 18.0.0"
### Description

updating keycloak version and conformance suite version.

- keycloak : 18.0.0
- conformance-suite : release-v4.1.42

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

[2022-04-24 00:14] tnorimat opened #309 "OpenID Connect OP for Logout Profiles conformance test automated run environment"
### Description

This FAPI-SIG's conformance test automated run environment is useful for other types of conformance tests.
The issue aims to construct OpenID Connect OP for Logout Profiles conformance test automatically.

Test Plan:
- OpenID Connect Core: Frontchannel Rp Initiated Logout Certification Profile Authorization server test
- OpenID Connect Core: Backchannel Rp Initiated Logout Certifi

[2022-04-24 10:13] #308 closed

[2022-04-25 06:56] tnorimat opened #311 "OpenID Connect OP for Logout Profiles conformance test manual run environment"
### Description

This FAPI-SIG's conformance test automated run environment is useful for other types of conformance tests.
The issue aims to construct OpenID Connect OP for Logout Profiles conformance test **manually**.

Test Plan:
- OpenID Connect Core: Frontchannel Rp Initiated Logout Certification Profile Authorization server test
- OpenID Connect Core: Backchannel Rp Initiated Logout Certific

[2022-04-25 06:58] #311 closed

[2022-04-28 00:45] #309 closed

[2022-04-28 00:53] tnorimat commented on #311
It seems that Session OP and Front-Channel OP conformance tests cannot be automated. Both uses iframe to comminicate  session information with RPs. When loading a page including the iframe, conformance suite's web driver seems not to access URL in iframe, so that conformance tests cannot finish properly.

[2022-05-21 08:01] tnorimat commented on #106
Keycloak 18 start supporting new admin console as preview, and it updated client policies UI.
https://www.keycloak.org/docs/latest/release_notes/index.html#new-admin-console-preview

[2022-05-21 08:01] #106 closed

[2022-05-21 08:01] tnorimat commented on #107
Keycloak 18 start supporting new admin console as preview, and it updated client policies UI.
https://www.keycloak.org/docs/latest/release_notes/index.html#new-admin-console-preview

[2022-05-21 08:01] #107 closed

[2022-05-21 08:03] tnorimat opened #318 "Update README.md : kecycloak 15 got certified as OpenID OP for Australia CDR and keycloak 18 got certified as OpenID OP for OIDC Logout Profile"
### Description

Update README.md : kecycloak 15 got certified as OpenID OP for Australia CDR and keycloak 18 got certified as OpenID OP for OIDC Logout Profile

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

[2022-05-21 08:13] #318 closed

[2022-05-21 09:12] tnorimat opened #321 "Update Goals of FAPI-SIG"
### Description

As discussed in [35th meeting](https://github.com/keycloak/kc-sig-fapi/blob/main/FAPI-SIG/meetings/35th/35th_MTG_Minute.txt), update Goals of FAPI-SIG in README.md

- FAPI support is 1st priority.
- Next, support specifications of OpenID Foundation other than FAPI.
- Finally, supporting OAuth 2.0/OIDC related security profiles.

### Discussion

_No response_

### Motivation

_No r

[2022-05-28 09:16] #321 closed

[2022-06-30 11:25] casfe03 opened #326 "Openbanking Brazil: shall not allow `refresh tokens` rotation feature."
### Description

Hi team, good night, how are you? There was a new update of the Openbanking Brazil SPEC and in this new spec item 17 was included: 17. shall not allow `refresh tokens` rotation feature. (https://github.com/OpenBanking-Brasil/specs-seguranca/blame/504e498c670001e98dd694c275b4855f2bc86387/open-banking-brasil-financial-api-1_ID3.md#L233)

The entire discussion on the subject can be f

[2022-07-01 04:55] tnorimat commented on #326
Hello @casfe03,
I have recognized that the recent Open Banking Brazil FAPI 1.0 Security Profile ID3 added one requirement that you've pointed out, and keycloak has not yet satisfied this requirement.

IMO, there are two ways to satisfy the added requirement:
1. adding a new client setting to control whether a refresh token is issued or not.
2. using client policies that strip the refreshed new ref

[2022-07-01 11:31] casfe03 commented on #326
Thank you @tnorimat

[2022-07-28 00:18] tnorimat opened #327 "Update Keycloak images to 18.0.2"
### Description

updating keycloak version and conformance suite version.

- keycloak : 18.0.2
- conformance-suite : release-v4.1.42

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

[2022-07-29 06:24] tnorimat commented on #327
closed by https://github.com/keycloak/kc-sig-fapi/pull/328

[2022-07-29 06:24] #327 closed

[2022-07-29 06:25] tnorimat opened #329 "Update Keycloak images to 19.0.1"
### Description

updating keycloak version and conformance suite version.

- keycloak : 19.0.1
- conformance-suite : release-v4.1.45

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

[2022-08-14 07:55] tnorimat opened #334 "The automated test run environment cannnot run by the latest docker compose version."
### Describe the bug

As mentioned in [README.md](https://github.com/keycloak/kc-sig-fapi#supported-docker-compose-version), the automated test run environment cannnot run  by the latest docker compose version.
The latest environment:
[code]
Error message:
[code]

### Version

-

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Any

[2022-08-14 08:22] tnorimat opened #335 "Some automated test fails due to automated browser operation"
### Describe the bug

Sometimes the test fails as follows:
[code]

When reruning the test, the test succeeds. It is not sure which test fails by the causation just above.

### Version

It seems that the version of Keycloak does not relate to this issue

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Anything else?

_No response_

[2022-08-18 13:33] evertongodoi commented on #326
@tnorimat , Do you have more information about this issue ? Because it's very important to FAPI-BRazil compliance tests.
We appreciate your attention.

[2022-08-18 23:16] tnorimat commented on #326
Hello @evertongodoi ,
I've already sent [the PR](https://github.com/keycloak/keycloak/pull/12551) that can suppress refresh token rotation.

[2022-08-20 02:16] #329 closed

[2022-09-01 17:35] evertongodoi commented on #326
Hello @tnorimat  , thanks to returned, we'll waiting this implementation [the PR](https://github.com/keycloak/keycloak/pull/12551) that you informed.

[2022-09-17 22:17] tnorimat opened #343 "Update Keycloak images to 19.0.2"
### Description

updating keycloak version and conformance suite version.

- keycloak : 19.0.2
- conformance-suite : release-v5.0.3

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

[2022-09-17 22:20] #343 closed

[2022-09-19 21:13] tnorimat opened #345 "FAPI UK OpenBanking conformance test"
### Description

Support FAPI UK OpenBanking conformance test automated test run environment

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

[2022-10-04 21:42] tnorimat commented on #345
closed by https://github.com/keycloak/kc-sig-fapi/pull/346

[2022-10-04 21:42] #345 closed

[2022-10-04 21:44] tnorimat opened #348 "Failed to run test runner"
### Describe the bug

Test runner falis to run the following commands:
[code]

[code]

### Version

?

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Anything else?

Workaround:
run the commands in`keycloak-fapi_server_1` container directly.

[2022-10-07 09:30] tnorimat commented on #326
@evertongodoi @casfe03 I think this issue can be resolved by https://github.com/keycloak/keycloak/pull/12551.
'SuppressRefreshTokenRotationExecutor' can be used.

[2022-10-07 10:21] casfe03 commented on #326
Thank you @tnorimat :)

[2022-10-07 11:03] evertongodoi commented on #326
Thanks @tnorimat !

[2022-10-07 18:17] evertongodoi commented on #326
@tnorimat in the keycloak interface, where I can to enable the SuppressRefreshTokenRotationExecutor ?

[2022-10-08 21:27] tnorimat commented on #326
@evertongodoi
It can be used to add a profile of client policies:
[code]
and applies it to a client by a policy of client policies like:
[code]
Please note that Keycloak 20 or later will include the PR.

[2022-10-11 01:56] evertongodoi commented on #326
@tnorimat thanks to your response!

But when I add a profile of client policies, the Keycloak return the error bellow.

[org.keycloak.services.clientpolicy.ClientPoliciesUtil] (executor-thread-727) no executor provider found. providerId = suppress-refresh-token-rotation

[org.keycloak.services.clientpolicy.DefaultClientPolicyManager] (executor-thread-727) VALIDATE SERIALIZE PROFILES FAILED :: erro

[2022-10-11 02:13] tnorimat commented on #326
@evertongodoi could you build the latest keycloak main branch and use it? The PR was included in the branch after the commit whose id is  `148c7695ff5b32f46f05a5f341ca5456da144987`.

[2022-11-02 19:22] tnorimat opened #351 "Update Keycloak images to 20.0.0"
### Description

updating keycloak version and conformance suite version.

keycloak : 20.0.0
conformance-suite : release-v5.0.6

Important Noteice : wildfly AP server was dropped. Only quarkus based keycloak is available for tests.

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

[2022-11-07 04:21] #351 closed

[2022-11-13 03:04] tnorimat opened #353 "Update Keycloak images to 20.0.1"
### Description

updating keycloak version and conformance suite version.

keycloak : 20.0.1
conformance-suite : release-v5.0.6

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

[2022-11-14 23:51] tnorimat commented on #353
closed by https://github.com/keycloak/kc-sig-fapi/pull/354

[2022-11-14 23:51] #353 closed

[2022-11-19 01:30] tnorimat opened #355 "Remove keycloak-legacy support"
### Description

From keycloak 20, keycloak-legacy was not supported.
Therefore, this test environment also remove keycloak-legacy support.

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

[2022-11-19 03:08] #355 closed